//
// Base -> Scaffolding
// --------------------------------------------------

//
// Make all elements box-sizing
//
* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  font-feature-settings: 'liga' off;
  @media screen and (min-width: $screen-md-min) {
    overflow: hidden !important;
    height: 100vh !important;
  }

  &.page-horizontal {
    overflow: visible !important;
    height: auto !important;
    @media screen and (min-width: $screen-md-min) {
      overflow: hidden !important;
      height: 100vh !important;
    }
  }
}

section, article, aside, footer, header, nav, hgroup, main {
  display: block;
}

//html::-webkit-scrollbar {
//  width: 6px !important;
//  height: 6px !important;
//  -webkit-appearance: none !important;
//  -webkit-overflow-scrolling: touch
//}
//
//html::-webkit-scrollbar:horizontal {
//  height: 6px !important
//}
//
//html::-webkit-scrollbar:vertical {
//  width: 6px !important
//}
//
//html::-webkit-scrollbar-track-piece {
//  background: #eff7fd !important
//}
//
//html::-webkit-scrollbar-thumb {
//  background-color: #000 !important
//}
//
//html::-webkit-scrollbar-thumb:window-inactive {
//  background: #000 !important
//}
//
//html::-webkit-scrollbar-button, html::-webkit-scrollbar-track {
//  background-color: transparent
//}
//
//html::-webkit-resizer, html::-webkit-scrollbar-corner {
//  background-color: transparent
//}

//
// Delete focus border
//
a:active, a:focus {
  outline: none;
}

input, textarea {
  outline: none;
}

input:active, textarea:active {
  outline: none;
}

button:active, button:focus {
  outline: none;
}

:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

//
// Clearfix
//
.clearfix {
  @include clearfix();
}

//
// HTML
//
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

//
// Basic typography styles
//
body {
  background-color: $base-background;
  color: $base-color;
  font-weight: $base-font-weight;
  font-family: $base-font-family;
  line-height: $base-line-height;
  font-size: 14px;
  @media screen and (min-width: $screen-md-min) {
    font-size: $base-font-size;
  }
  scroll-behavior: smooth;
}

section {
  background: $white-lighten;
}

//
// Link
//
a {
  color: $link-color;
  @include transitionEase(all);
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: $link-hover-color;
  }
}

//
// Images
//
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.img--right {
  float: right;
  margin-bottom: $line-height-computed;
  margin-left: $line-height-computed;
}

.img--left {
  float: left;
  margin-right: $line-height-computed;
  margin-bottom: $line-height-computed;
}

.img--center {
  display: block;
  margin-right: auto;
  margin-bottom: $line-height-computed;
  margin-left: auto;
}


.m-auto {
  margin: 0 auto;
}

.mt-auto {
  margin-top: auto;
}


//
// Display none
//
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
