//
// Base -> Buttons
// --------------------------------------------------

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: $btn-font-weight;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  text-decoration: none;
  background-image: none;
  height: 40px;
  @include transitionEase();
  border: 1px solid transparent;
  @include button-size($padding-base-vertical, $padding-base-horizontal / 2, 14px, $base-line-height, $btn-border-radius-base);

  min-width: 160px;
  text-transform: uppercase;

  @media screen and (min-width: $screen-md-min) {
    height: 60px;
    @include button-size($padding-base-vertical, $padding-base-horizontal, 14px, $base-line-height, $btn-border-radius-base);
  }


  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    padding: 15px 0;
    //border-bottom: 1px solid black;
    //@include transitionEase();
    &.lead {
      &:after {
        bottom: 0;
      }
    }
    @media screen and (min-width: $screen-md-min) {
      font-size: 16px;
    }
    path {
      @include transitionEase(fill);
    }
    svg {
      @include transitionEase(transform);
      rect,
      path,
      circle {
        @include transitionEase(all);
      }
    }
    &:hover {
      color: $color-type-2a;
      svg {
        transform: translateX(-20px);
        rect {
          width: 15px;
          x: 20;
          fill: white;
        }
        path {
          fill: white;
          transform: translateX(3px);
          //transform: matrix(0.9, 0, 0, 0.9, 4, 4);
        }
        .circ {
          r: 14 !important;
        }
      }
      //path.arr {
      //  fill: $color-type-2a;
      //}
    }
  }

  &--full {
    width: 100%;
    & + & {
      margin-top: 5px;
    }
  }

  &--natural {
    vertical-align:baseline;
    font-size:inherit;
    line-height:inherit;
    padding-right:0.5em;
    padding-left: 0.5em;
  }

  &-border {
    border: none;
    //border-image-slice: 1;
    border-radius: 70px;
    @include transitionEase(background);
    background: linear-gradient(90deg, #EE3A16 0%, rgba(238, 22, 35, 0.12) 40.02%);
    position: relative;
    &:before {
      content: '';
      background: #EE3A16;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      z-index: 1;
      border-radius: 70px;
      @include transitionEase(opacity);
    }
    &:after {
      content: '';
      background: white;
      left: 1px;
      top: 1px;
      bottom: 1px;
      right: 1px;
      position: absolute;
      border-radius: 70px;
      z-index: 2;
    }
    span {
      position: relative;
      z-index: 3;
    }
    &:hover {
      .add:before,
      &:before {
        opacity: 1 !important;
      }
    }
  }

  // Button with icon
  &-icon {
    display: inline-flex;
    align-items: center;
    .burger + span,
    span + svg,
    span + img,
    svg + span,
    img + span {
      margin-left: 10px;
      @media screen and (min-width: $screen-md-min) {
        margin-left: 20px;
      }
    }
  }
  &--default {
    @include button-variant-tr($btn-default-color, $btn-default-bg, $btn-default-border);
    .burger span {
      @include transitionEase(background-color);
    }
    &:hover {
      border-color: $color-type-2a;
      background-color: $color-type-2a;
      .ui-button-circle-icon__label-wr,
      .ui-button-circle-icon__label-wr:after {
        color: white;
      }
      .burger span {
        background-color: white;
      }
    }
  }


  // Color buttons
  @if $use-btn-color == true {
    &--primary {
      @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);

      &:hover {
        border-color: $color-type-2a;
        background-color: $color-type-2a;
        .ui-button-circle-icon__label-wr,
        .ui-button-circle-icon__label-wr:after {
          color: white;
        }
      }
    }
    &--success {
      @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
    }
    &--info {
      @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
    }
    &--warning {
      @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
    }
    &--danger {
      @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
    }
    &--outlined {
      @include button-variant-tr($btn-outlined-color, $btn-outlined-bg, $btn-outlined-border);

    }
  }

  // Button Sizes
  @if $use-btn-size == true {
    &__lg {
      @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-btn, $btn-border-radius-large);
      height: 55px;
    }
    &__sm {
      @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-btn, $btn-border-radius-small);
      height: 40px;
    }
    &__xs {
      @include button-size($padding-tiny-vertical, $padding-tiny-horizontal, $font-size-tiny, $line-height-btn, $btn-border-radius-small);
      height: 35px;
    }
  }

  &[disabled],
  &.disabled {
    //opacity: 0.3;
    background-color: #ccc;
    border-color: #ccc;
    cursor: inherit;
  }
}


body:not(.safari) {
  .btn-link {
    svg {
      .circ {
        r: 0;
      }
    }
  }
}
