.marquee {
  position: relative;
  width: 100vw;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  img {
    max-width: inherit;
  }
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 32s linear infinite;
}

.safari {
  .track {
    animation: marqueeSafari 32s linear infinite;
  }
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

@keyframes marqueeSafari {
  from { left: 0; }
  to { left: -100%; }
}


.wrapTitle {
  .word-wrap {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    > span {
      transform: translateY(100%);
      @include transitionEase(transform);
      display: inline-block;
      vertical-align: middle;
    }
  }
  .navbar & {
    .word-wrap {
      > span {
        @include transitionEase(transform, .5s, .8s);
      }
    }
  }
  .swiper-title.show &,
  .navbar.active &,
  &.aos-animate {
    .word-wrap {
      > span {
        transform: translateY(0%);
      }
    }
  }
  .swiper-title.hideIt &,
  .navbar.hideIt & {
    .word-wrap {
      > span {
        @include transitionEase(transform);
        transform: translateY(-100%);
      }
    }
  }
}

.wrapTitle-lead {
  > span span {
    position: relative;
    &:after {
      content: ' ';
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      position: absolute;
      border-bottom: 1px solid #1f1f1f;
      will-change: transform,color;
      transform: scaleX(1);
      transform-origin: center;
      transition: all .35s;
      transition-timing-function: cubic-bezier(.25,.46,.45,.94);
    }
  }


  .swiper-title.show & span:after {
    opacity: 1;
  }
  .swiper-title.hideIt & span:after {
    opacity: 0;
  }
  &:hover {
    > span span:after {
      transform: scaleX(0);
      //transform-origin: 100% 0;
      transition-timing-function: ease;
    }
  }
}

.lead {
  position: relative;
  border-bottom: none !important;
  &:not(.btn-link) {
    display: inline-block;
  }
  &:after {
    content: ' ';
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1px;
    position: absolute;
    border-bottom: 1px solid #1f1f1f;
    will-change: transform,color;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition: -webkit-transform .35s;
    transition: -webkit-transform .35s;
    transition: transform .35s;
    transition: transform .35s,-webkit-transform .35s;
    -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
    transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  }
  .active > &,
  &.active,
  &:hover {
    &:after {
      -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: 100% 50%;
      -ms-transform-origin: 100% 50%;
      transform-origin: 100% 50%;
      -webkit-transition-timing-function: ease;
      transition-timing-function: ease;
    }
  }
}
