.filter {
  overflow-x: auto;
  @media screen and (min-width: $screen-md-min) {
    overflow-x: visible;
  }
  &-item {
    margin-right: 20px;
    margin-bottom: 20px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 0;
      margin-right: 0;
      margin-left: 60px;
    }
    .filter-checkbox {
      padding-top: 10px;
    }
    &--main {
      @media screen and (min-width: $screen-md-min) {
        margin-left: auto;
      }
    }
    .select2.select2-container {
      width: 180px !important;
      margin-left: 20px;
      padding: 0 10px 0 10px;
      @media screen and (min-width: $screen-md-min) {
        padding: 10px 10px 0 10px;
      }
      &.select2-container--default .select2-selection--single {
        padding-bottom: 3px;
        @media screen and (min-width: $screen-md-min) {
          padding-bottom: 10px;
        }
        //@media screen and (min-width: $screen-md-min) {
        //  padding-bottom: 20px;
        //}
      }
      @media screen and (min-width: $screen-md-min) {
        width: 220px !important;
        margin-left: 0;
      }
    }
  }
  &-checkbox {
    label {
      color: black;
      display: flex;
      font-weight: 400;
      text-transform: uppercase;
      align-items: center;
      padding-bottom: 11px;
      cursor: pointer;
      @include transitionEase(color);
      svg {
        margin-right: 10px;
        path {
          @include transitionEase(fill);
        }
      }
      &:hover {
        color: $color-type-2a;
        svg {
          path {
            fill: $color-type-2a;
          }
        }
      }
    }
    input {
      display: none;
      &:checked + label {
        color: $color-type-2a;
        path {
          fill: $color-type-2a;
        }
      }
    }
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
  @media screen and (min-width: $screen-md-min) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: $screen-lg-min) {
    flex-wrap: nowrap;
    margin-bottom: 80px;
    margin-top: 80px;
  }
  .filter {
    margin-bottom: 20px;
    @media screen and (min-width: $screen-md-min) {
      width: 100%;
    }
    @media screen and (min-width: $screen-lg-min) {
      width: auto;
      margin-bottom: 0;
    }
  }
}
