
.loading {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100001;
  transition: opacity .5s, left 0s .3s;
  &.hideIt {
    opacity: 0;
    left: 100%;
  }
}


.main-loader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  transition: height 0s 3.3s;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    background-color: black;
    transition: height 1s 2.5s cubic-bezier(0.65, 0, 0.35, 1);
  }
  > * {
    position: relative;
    z-index: 99;
  }

  span {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 100px;
    height: 1px;
    background-color: #313131;
    transition: opacity .5s 2.8s;
    &:after {
      content: '';
      height: 1px;
      position: absolute;
      left: 0;
      width: 0;
      background-color: $color-type-2a;
      transition: width 1.5s;
    }
  }

  &-img {
    position: relative;
    transition: opacity .5s 2.8s;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    .white-img {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      width: 0;
      overflow: hidden;
      transition: width 1.5s;
      path {
        fill: white
      }
    }
  }

  &.hideIt {
    height: 0;
    &:after {
      height: 0;
    }

    span,
    .main-loader-img {
      opacity: 0;
      .white-img {
        width: 100%;
      }
    }
    span {
      &:after {
        width: 100%;
      }
    }
  }
}
