.main-swiper {
  .swiper-wrapper {
    //@include transitionEase(all, 1s);
    //transition-property: all;
    transition-duration: 1s !important;
    height: 140px;
    @media screen and (min-width: $screen-md-min) {
      height: 260px;
    }
    @media screen and (min-width: $screen-lg-min) {
      height: 360px;
    }
    @media screen and (min-width: $screen-xl-min) {
      height: 540px;
    }
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    margin-top: auto;
    width: 74%;
    overflow: hidden;
    border-radius: 0px 20px;
    @media screen and (min-width: $screen-lg-min) {
      width: 850px;
      border-radius: 0px 60px;
    }
    @media screen and (min-width: 1200px) {
      width: 820px;
    }
    @media screen and (min-width: $screen-xl-min) {
      width: 890px;
    }
    @media screen and (min-width: 1400px) {
      width: 930px;
    }
    @media screen and (min-width: 1600px) {
      width: 1090px;
    }
    @media screen and (min-width: 1921px) {
      width: auto;
    }
    span {
      position: relative;
      display: block;
      //top: 20px;
      @include transitionEase(top, .2s, .1s);
      @media screen and (min-width: $screen-md-min) {
        //top: 62px;
      }
    }

    img {
      @include transitionEase(transform);
      height: 225px;
      max-width: inherit;
      object-fit: cover;
      @media screen and (min-width: $screen-md-min) {
        height: 340px;
      }
      @media screen and (min-width: $screen-lg-min) {
        height: 460px;
      }
      @media screen and (min-width: $screen-xl-min) {
        height: 640px;
      }
    }
    &.swiper-slide-prev {
      //align-items: flex-end;
      span {
        @include transitionEase(top, .2s, .7s);
      }
    }
    &.swiper-slide-next + div,
    &.swiper-slide-next {
      //align-items: flex-start;
      span {
        //top: -20px;
        @include transitionEase(top, .2s, .1s);
        @media screen and (min-width: $screen-md-min) {
          //top: -62px;
        }
      }
    }
    &.swiper-slide-active {
      margin: auto;
      span {
        top: 0;
      }
      @media screen and (min-width: $screen-xl-min) {
        //width: 1090px;
      }
      img {
        transform: scale(1);
        //max-width: 100%;
      }
    }
  }

  .swiper-buttons {
    width: 127px;
    position: absolute;
    bottom: 0;
    right: 60px;
    @media screen and (min-width: $screen-md-min) {
      width: 200px;
    }
    @media screen and (min-width: $screen-lg-min) {
      width: auto;
      position: static;
    }
    > * {
      top: 35%;
      @media screen and (min-width: 1920px) {
        top: 39%;
      }
    }
  }

  .swiper-button-next {
    position: static;
    @media screen and (min-width: $screen-lg-min) {
      position: absolute;
      right: 1%;
    }
    @media screen and (min-width: 1200px) {
      right: 7%;
    }
    @media screen and (min-width: 1300px) {
      right: 6%;
    }
    @media screen and (min-width: 1400px) {
      right: 7%;
    }
    @media screen and (min-width: 1500px) {
      right: 11%;
    }
    @media screen and (min-width: 1600px) {
      right: 8%;
    }
    @media screen and (min-width: 1760px) {
      right: 11%;
    }
    @media screen and (min-width: 1920px) {
      right: 14%;
    }
    img {
      //transform: rotate(180deg);
    }
  }
  .swiper-button-prev {
    position: static;
    @media screen and (min-width: $screen-lg-min) {
      position: absolute;
      left: 1%;
    }
    @media screen and (min-width: 1200px) {
      left: 7%;
    }
    @media screen and (min-width: 1300px) {
      left: 6%;
    }
    @media screen and (min-width: 1400px) {
      left: 7%;
    }
    @media screen and (min-width: 1500px) {
      left: 11%;
    }
    @media screen and (min-width: 1600px) {
      left: 8%;
    }
    @media screen and (min-width: 1760px) {
      left: 11%;
    }
    @media screen and (min-width: 1920px) {
      left: 14%;
    }
  }
}

.carousel-swiper-img,
.carousel-swiper {
  .swiper-slide {
    width: 85%;
    @media screen and (min-width: $screen-md-min) {
      width: 550px;
    }
  }
}
.carousel-swiper-logo {
  .swiper-slide {
    width: 220px;
    @media screen and (min-width: $screen-md-min) {
      width: 250px;
    }
  }
}

.swiper-pagination {
  right: auto;
  width: auto;
  left: 60px;
  bottom: 0;
  @media screen and (min-width: $screen-lg-min) {
    bottom: auto;
    left: 1.5%;
  }
  @media screen and (min-width: 1200px) {
    left: 7.5%;
  }
  @media screen and (min-width: 1300px) {
    left: 6.5%;
  }
  @media screen and (min-width: 1400px) {
    left: 7.5%;
  }
  @media screen and (min-width: 1500px) {
    left: 11.5%;
  }
  @media screen and (min-width: 1600px) {
    left: 8.5%;
  }
  @media screen and (min-width: 1760px) {
    left: 11.5%;
  }
  @media screen and (min-width: 1920px) {
    left: 14.5%;
  }

  &-custom {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    @media screen and (min-width: $screen-md-min) {
      font-size: 18px;
    }
    span {
      font-size: 20px;
      font-weight: 400;
      font-family: $base-font-family-serif;
      @media screen and (min-width: $screen-md-min) {
        font-size: 30px;
      }
    }
    img {
      margin: 0 10px;
    }
  }
}

.swiper-buttons {
  > div {
    width: 58px;
    height: 43px;
    @media screen and (min-width: $screen-lg-min) {
      width: 101px;
      height: 77px;
    }
     &:after {
       display: none;
     }
  }
}
