//
// Modules -> Utility classes
// --------------------------------------------------

//
// close btn
//

/* purgecss start ignore */
.centered-block {
  @include center-block;
}

.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  @include text-hide;
}
