.page-certificates {
  overflow: hidden;
  padding-right: 10px;
  @media screen and (min-width: $screen-md-min) {
    padding-right: 20px;
  }
  @media screen and (min-width: $screen-lg-min) {
    padding-right: 284px;
  }
}

.certificates {
  &-main {
    color: white;
    margin: 0 10px;
    padding: 40px 38px 400px;
    background: url("../images/certificates/main-m.jpg") no-repeat center top / auto 100%;
    overflow: hidden;
    @media screen and (min-width: $screen-md-min) {
      margin: 0 20px;
      padding: 60px 40px;
      background: url("../images/certificates/main.jpg") no-repeat center top / cover;
    }
    @media screen and (min-width: $screen-lg-min) {
      padding: 60px 44% 60px 40px;
      height: 730px;
      background: url("../images/certificates/main.jpg") no-repeat center top / 100% auto;
    }
    @media screen and (min-width: $screen-xl-min) {
      padding: 160px 44% 200px 90px;
    }
    > * {
      position: relative;
      z-index: 9;
    }
    &__back {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 4;
      @media screen and (min-width: $screen-lg-min) {
        top: -15px;
      }
      img {
        object-fit: cover;
        @media screen and (min-width: $screen-md-min) {
          height: 100%;
        }
        @media screen and (min-width: 1800px) {
          height: auto;
        }
      }
    }
    h1 {
      margin-top: 0;
      margin-bottom: 20px;
      @media screen and (min-width: $screen-md-min) {
        margin-bottom: 40px;
      }
      @media screen and (min-width: $screen-xl-min) {
        margin-bottom: 80px;
      }
    }
    p {
      margin-bottom: 0;
      @media screen and (min-width: $screen-md-min) {
        max-width: 50%;
      }
      @media screen and (min-width: $screen-lg-min) {
        max-width: 440px;
      }
    }
  }
  &-liner {
    height: 30px;
    img {
      height: 30px;
    }
    width: 100%;
    position: relative;
    //background: url("../images/standard.svg") no-repeat center / auto 100%;
    top: -20px;
    @media screen and (min-width: $screen-md-min) {
      top: -30px;
      height: 60px;
      img {
        height: 60px;
      }
    }
    @media screen and (min-width: $screen-lg-min) {
      top: -50px;
      height: 100px;
      img {
        height: 100px;
      }
    }
    @media screen and (min-width: $screen-xl-min) {
      top: -100px;
      //background: url("../images/standard.svg") no-repeat center;
      height: 150px;
      img {
        height: 150px;
      }
    }
    @media screen and (min-width: 1450px) {
      top: -60px;
    }
  }

  &-desc {
    padding: 60px 10px 40px;
    @media screen and (min-width: $screen-md-min) {
      padding: 100px 20px 100px 10%;
    }
    @media screen and (min-width: $screen-xl-min) {
      padding: 160px 0 160px 20%;
    }
    h3 {
      margin-top: 0;
      font-size: 20px;
      font-feature-settings: 'liga' off;
      @media screen and (min-width: $screen-md-min) {
        font-size: 24px;
      }
    }
    .col__xl-5 {
      @media screen and (min-width: $screen-lg-min) {
        padding-right: 50px;
      }
      @media screen and (min-width: $screen-xl-min) {
        padding-right: 100px;
      }
    }
  }

  &-list {
    margin: 0 -20px;
    padding: 0 20px 80px;
    @media screen and (min-width: $screen-md-min) {
      padding: 0 20px 140px;
    }
    display: flex;
    flex-wrap: wrap;
    &__item {
      display: flex;
      flex-direction: column;
      padding: 10px;
      background-color: white;
      margin: 0 10px 10px;
      position: relative;
      width: calc(100% - 20px);
      @media screen and (min-width: $screen-md-min) {
        margin: 0 10px 20px;
        min-height: 28vw;
        width: calc(100% / 2 - 20px);
      }
      @media screen and (min-width: $screen-lg-min) {
        width: calc(100% / 3 - 20px);
      }
      &--lite {
        background-color: #C9EBF3;
      }
      &--standard {
        background-color: #EEE;
      }
      &--classic {
        background-color: #E9F3D8;
      }
      &--platinum {
        background-color: #C8CBCD;
      }
      &--exclusive {
        background-color: #908B88;
      }
      &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .type {
          font-size: 40px;
          line-height: 1;
          text-transform: uppercase;
        }
        .price {
          font-weight: 500;
          font-size: 22px;
          text-transform: uppercase;
        }
      }
      &-bottom {
        font-size: 14px;
        margin-top: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .add {
          cursor: pointer;
          @include transitionEase();
          &:hover {
            transform: scale(1.2) rotate(180deg);
          }
          svg {
            width: 40px;
            height: 40px;
          }
        }
      }
      &-img {
        margin: auto;
        padding: 30px 0;
        width: 70vw;
        @media screen and (min-width: $screen-md-min) {
          width: 30vw;
        }
        @media screen and (min-width: $screen-lg-min) {
          padding: 50px 0;
          width: auto;
        }
        img {
          transition: transform 1s;
        }
        @media screen and (min-width: 1500px) {
          img {
            width: 22vw;
          }
        }
      }
      &-add {
        position: absolute;
        top: 45px;
        right: 0;
        width: 164px;
        height: 22px;
        background: white;
        @media screen and (min-width: $screen-md-min) {
          top: 55px;
        }
        > div {
          font-weight: 600;
          font-size: 14px;
          line-height: 140%;
          text-transform: uppercase;
        }
      }
      &:hover {
        .certificates-list__item-img {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
