.page-contacts {
  padding: 40px 10px;
  @media screen and (min-width: $screen-md-min) {
    padding: 80px 10px;
  }
  @media screen and (min-width: $screen-lg-min) {
    padding: 160px 0;
  }
  h1 {
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: 30px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 80px;
    }
  }
  h2 {
    margin-top: 0;
    margin-bottom: 40px;
    font-family: $base-font-family-serif;
    font-feature-settings: 'liga' off;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 80px;
    }
  }

  form {
    overflow: hidden;
    @media screen and (min-width: $screen-md-min) {
      padding: 0 10px;
    }
    @media screen and (min-width: $screen-lg-min) {
      padding: 0;
    }
  }
}

.contacts {
  &-list {
    margin-bottom: 60px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 80px;
    }
    @media screen and (min-width: $screen-lg-min) {
      padding: 0 20px;
      margin-bottom: 160px;
    }
    a {
      border-bottom: 1px solid black;
    }
    &__item {
      padding: 20px 0;
      border-top: 1px solid #E5E5E5;
      display: flex;
      flex-wrap: wrap;
      @media screen and (min-width: $screen-md-min) {
        padding: 30px 0;
      }
      > * {
        width: 100%;
        @media screen and (min-width: $screen-md-min) {
          width: 50%;
        }
      }
      &:last-child {
        border-bottom: 1px solid #E5E5E5;
      }
      &-name {
        font-size: 11px;
        line-height: 1.8;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-family: $base-font-family-serif;
        font-feature-settings: 'liga' off;
        @media screen and (min-width: $screen-md-min) {
          font-size: 13px;
          margin-bottom: 0;
        }
      }
      &-desc {
        font-size: 16px;
        div + div {
          margin-top: 5px;
        }
      }
    }
  }
}

form {
  position: relative;
}

.form {
  &-inner {

  }
  &-answer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    z-index: 9;
    max-height: 0;
    transition: max-height .5s;
    overflow: hidden;
    > * {
      margin-top: 0;
      position: static !important;
    }
    h2 {
      font-size: 40px;
      max-width: 540px;
    }
    > *:last-child {
      margin-left: auto;
    }
    &.shown {
      max-height: 700px;
    }
  }
}
