.page-discount {
  overflow: hidden;
}
.main-discount {
  padding: 40px 36px 270px;
  margin: 0 10px;
  color: white;
  overflow: hidden;
  background: url("../images/discount/main-m.jpg") no-repeat center bottom / cover;
  @media screen and (min-width: $screen-md-min) {
    padding: 100px 40px;
    margin: 0 20px;
    //background: url("../images/discount/main.jpg") no-repeat center top / cover;
  }
  @media screen and (min-width: $screen-lg-min) {
    height: 800px;
  }
  @media screen and (min-width: $screen-xl-min) {
    padding: 160px 90px;
  }
  @media screen and (min-width: 1450px) {
    //background: url("../images/discount/main.jpg") no-repeat center top / 100% auto;
  }
  > * {
    position: relative;
    z-index: 9;
  }
  &__back {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 4;
    img {
      object-fit: cover;
      display: none;
      @media screen and (min-width: $screen-md-min) {
        height: 100%;
        display: block;
      }
      @media screen and (min-width: $screen-xl-min) {
        height: auto;
      }
    }
  }
  p {
    max-width: 350px;
    margin-bottom: 20px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 60px;
    }
  }
  h1 {
    margin-top: 0;
    margin-bottom: 20px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 80px;
    }
  }
  &-info {
    padding-top: 20px;
    border-top: 1px solid white;
  }
  &-title {
    font-size: 28px;
    @media screen and (min-width: $screen-md-min) {
      font-size: 38px;
    }
  }
  &-desc {
    font-size: 12px;
    @media screen and (min-width: $screen-md-min) {
      font-size: 16px;
    }
  }
}

.discount-liner {
  height: 30px;
  width: 100%;
  position: relative;
  top: -20px;
  img {
    height: 30px;
    max-width: inherit;
  }
  //background: url("../images/loyalty.svg") no-repeat center / auto 100%;
  @media screen and (min-width: $screen-md-min) {
    top: -30px;
    height: 60px;
    img {
      height: 60px;
    }
  }
  @media screen and (min-width: $screen-lg-min) {
    top: -50px;
    height: 100px;
    img {
      height: 100px;
    }
  }
  @media screen and (min-width: $screen-xl-min) {
    //background: url("../images/loyalty.svg") no-repeat center;
    height: 150px;
    top: -60px;
    img {
      height: 150px;
    }
  }
}

.card-discount {
  padding-top: 80px;
  padding-left: 10px;
  padding-right: 10px;
  @media screen and (min-width: $screen-md-min) {
    padding-top: 100px;
    padding-left: 0;
    padding-right: 0;
  }
  @media screen and (min-width: $screen-lg-min) {
    padding-top: 160px;
  }
  &-inner {
    max-width: 1090px;
    margin: auto;
    //padding: 0 20px;
    h3 {
      font-size: 20px;
      margin-top: 0;
      margin-bottom: 10px;
      font-family: $base-font-family-serif;
      line-height: 120%;
      @media screen and (min-width: $screen-md-min) {
        font-size: 30px;
      }
      @media screen and (min-width: $screen-lg-min) {
        font-size: 40px;
      }
    }
    a:not(.btn-link) {
      line-height: 120%;
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 40px;
      text-decoration: none;
      display: inline-block;
      border-bottom: 1px solid black;
      @media screen and (min-width: $screen-md-min) {
        font-size: 30px;
        margin-bottom: 0;
      }
      @media screen and (min-width: $screen-lg-min) {
        font-size: 40px;
      }
    }
    a.nol {
      border-bottom: none;
    }
    img {
      margin-top: 20px;
      width: 180px;
      @media screen and (min-width: $screen-md-min) {
        margin-top: 30px;
        //width: auto;
      }
    }
  }
  .card {
    color: white;
    background: black;
    margin-bottom: 40px;
    border-radius: 30px;
    height: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: $screen-md-min) {
      max-height: 540px;
      height: 52vw;
      border-radius: 50px;
      margin-bottom: 80px;
    }
    &-name {
      text-align: center;
      font-size: 8.6vw;
      line-height: 1.3;
      border-bottom: 1px solid white;
      text-transform: uppercase;
      padding: 10px 10px 0;
      font-family: $base-font-family-serif;
      @media screen and (min-width: $screen-md-min) {
        line-height: 1.1;
        padding: 0;
        font-size: 9vw;
      }
      @media screen and (min-width: 1200px) {
        font-size: 105px;
      }
    }
    &-sub {
      margin-top: 10px;
      text-align: center;
      text-transform: uppercase;
      font-family: $base-font-family-serif;
      @media screen and (min-width: $screen-md-min) {
        margin-top: 20px;
      }
    }
    a {
      color: white;
      border-color: white;
      path.arr {
        fill: white;
      }
      &:hover {
        color: $color-type-2a;
        border-color: $color-type-2a;
        path.arr {
          fill: $color-type-2a;
        }
      }
    }
    &-container {
      width: 100%;
      padding: 20px;
      max-width: 540px;
      margin: auto;
      text-align: center;
      @media screen and (min-width: $screen-md-min) {
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .lead:after {
        border-color: white;
      }
      svg {
        path,
        rect {
          fill: white;
        }
      }
    }
    &-price {
      margin-bottom: 40px;
      @media screen and (min-width: $screen-md-min) {
        margin-bottom: 0;
      }
      &-sub {
        font-size: 13px;
        font-family: $base-font-family-serif;
        text-transform: uppercase;
        color: #9C9C9C;
        margin-bottom: 10px;
      }
      &-count {
        font-size: 38px;
        text-transform: uppercase;
      }
    }
  }
}

.back-discount {
  margin: 40px 0 80px;
  height: 230px;
  width: 100%;
  //background: url("../images/discount/cards.jpg") no-repeat center / auto 100%;
  overflow: hidden;
  @media screen and (min-width: $screen-md-min) {
    margin: 160px 0;
    height: 620px;
  }
  .rellax {
    @media screen and (max-width: $screen-sm-max) {
      transform: none !important;
    }
  }
  img {
    object-fit: cover;
    @media screen and (min-width: $screen-md-min) {
      //height: 100%;
    }
    @media screen and (min-width: $screen-lg-min) {
      //height: auto;
      position: relative;
      top: -100px;
    }
  }
}

.list-discount {
  padding-bottom: 1px;
  &-inner {
    padding-left: 10px;
    @media screen and (min-width: $screen-md-min) {
      padding-left: 60px;
    }
    @media screen and (min-width: $screen-lg-min) {
      padding-left: 100px;
    }
    @media screen and (min-width: $screen-xl-min) {
      padding-left: 295px;
    }
  }
  &-slider {
    margin-bottom: 80px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 160px;
    }
  }
  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-right: 20px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 80px;
    }
    .swiper-buttons {
      display: none;
      @media screen and (min-width: $screen-md-min) {
        display: flex;
      }
    }
    h3 {
      font-size: 20px;
      @media screen and (min-width: $screen-md-min) {
        font-size: 30px;
      }
      @media screen and (min-width: $screen-lg-min) {
        font-size: 40px;
      }
    }
    .swiper-buttons {
      > * {
        position: static;
      }
    }
    > * {
      margin: 0;
    }
  }
}
.logoList-list {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: $screen-xl-min) {
    //flex-wrap: nowrap;
  }
}
.logoList {
  width: 250px;
  &--right {
    @media screen and (min-width: 1450px) {
      margin-left: calc(100% / 6);
    }
  }
  &-desc {
    h4 {
      font-family: $base-font-family;
    }
    a {
      font-size: 14px;
      line-height: 1.7;
      text-decoration: none;
      @media screen and (min-width: $screen-md-min) {
        font-size: 16px;
      }
      &:hover {
        color: $color-type-2a;
      }
    }
  }
}

.swiper-buttons {
  display: flex;
  .swiper-button-next {
    margin-left: 20px;
    //transform: rotate(180deg);
  }
}
