.events {
  &-list {
    width: 100%;
    .swiper-wrapper {
      @media screen and (min-width: $screen-md-min) {
        display: block;
      }
      .swiper-slide {
        width: 260px;
        @media screen and (min-width: $screen-md-min) {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  &-item {
    text-decoration: none;
    display: block;
    margin-bottom: 40px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 60px;
      &.visible__xs {
        display: none;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
    &-line {
      left: 0;
      position: absolute;
      z-index: 9;
      overflow: hidden;
      background: white;
      height: 22px;
      width: 165px;
      font-weight: 600;
      font-size: 14px;
      line-height: 140%;
      text-transform: uppercase;
      @media screen and (min-width: $screen-md-min) {
        top: 10px;
      }
    }
    &-logo {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 99;
      img {
        width: 77px;
        @media screen and (min-width: $screen-md-min) {
          width: 155px;
        }
      }
    }
    &-img {
      position: relative;
      overflow: hidden;
      > img {
        transition: transform 1s;
        width: 100%;
      }
      &:hover {
        > img {
          transform: scale(1.1);
        }
      }
    }
    &-title {
      font-size: 12px;
      font-family: $base-font-family-serif;
      margin: 10px 0;
      @include transitionEase(color);
      @media screen and (min-width: $screen-md-min) {
        font-size: 16px;
        margin: 20px 0;
      }
      @media screen and (min-width: $screen-lg-min) {
        font-size: 21px;
      }
    }
    &-date {
      font-size: 12px;
      @media screen and (min-width: $screen-md-min) {
        font-size: 16px;
      }
    }
    &--main {
      .events-item-title {
        font-size: 28px;
      }
      .events-item-img {
        border-radius: 0px 0px 60px 0px;
        > img {
          border-radius: 0px 0px 60px 0px;
        }
      }
    }

    &:hover {
      .events-item-title {
        color: $color-type-2a;
      }
    }
  }
}

.eventsList {
  padding: 0 20px;
  min-height: 60vh;
  .events-item {
    margin-bottom: 40px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 90px;
    }
  }
}

.page-event {
  overflow: hidden;

  .m-auto {
    padding: 0 20px;

    @media screen and (min-width: $screen-lg-min) {
      padding: 0;
    }

    h1 {
      margin-left: 30px;
      @media screen and (min-width: $screen-md-min) {
        margin-left: 0;
        margin-top: 130px;
      }
    }
  }
}

.showMore {
  margin-bottom: 80px;
  @media screen and (min-width: $screen-md-min) {
    margin-bottom: 160px;
  }

  a {
    svg {
      path {
        @include transitionEase(fill);
      }
    }
    &:hover {
      path {
        fill: $color-type-2a;
      }
    }
  }
}

.filter-global {
  display: inline-flex;
  border: 1px solid #E5E5E5;
  border-radius: 60px;
  position: relative;
  .span {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    border-radius: 60px;
    background-color: black;
    @include transitionEase();
    @media screen and (min-width: $screen-md-min) {
      width: 74px;
    }
  }
  li {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    @include transitionEase(color);
    cursor: pointer;
    white-space: nowrap;
    @media screen and (min-width: $screen-md-min) {
      height: 60px;
      padding: 15px 20px;
    }
    &.active {
      color: white;
    }
  }
}
