.event {
  h1 {
    margin-top: 0;
    line-height: 1.2;
    margin-bottom: 40px;
  }
  &-tag {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    margin-bottom: 40px;
  }

  &-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;
    @media screen and (min-width: $screen-md-min) {
      flex-wrap: nowrap;
      margin-bottom: 40px;
    }
    li {
      width: 60%;
      margin-left: 40%;
      margin-bottom: 30px;
      @media screen and (min-width: $screen-md-min) {
        width: auto;
        margin-left: 0;
        margin-bottom: 0;
      }
      &:first-child {
        width: 80px;
        margin-left: 0;
        position: absolute;
        left: 0;
        @media screen and (min-width: $screen-md-min) {
          width: auto;
          position: static;
        }
      }
    }

    .title {
      font-size: 13px;
      margin-bottom: 15px;
      text-transform: uppercase;
      font-family: $base-font-family-serif;
    }
    p {
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: 0;
    }
    img {
      margin-bottom: 10px;
    }
  }

  &-img {
    overflow: hidden;
    margin-bottom: 40px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 80px;
    }
    img {
      border-radius: 0px 30px;
      @media screen and (min-width: $screen-md-min) {
        border-radius: 0px 60px;
      }
    }
  }

  &-desc {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    font-size: 14px;
    @media screen and (min-width: $screen-md-min) {
      margin-top: 80px;
      margin-bottom: 80px;
      padding-left: 100px;
      font-size: 16px;
    }
    @media screen and (min-width: $screen-lg-min) {
      padding-left: 0;
      max-width: 720px;
    }
    p {
      margin-bottom: 30px;
    }
  }

  &-video {
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    @media screen and (min-width: $screen-md-min) {
      margin-top: 80px;
      margin-bottom: 80px;
    }
    svg {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      cursor: pointer;
      z-index: 2;
      margin: auto;
      width: 150px;
      @include transitionEase(transform);
      @media screen and (min-width: $screen-md-min) {
        width: auto;
      }
      circle {
        &:first-of-type {
          @include transitionEase(fill);
        }
        @include transitionEase(stroke);
      }
    }
    &:hover {
      svg {
        transform: scale(1.2);
        circle {
          &:first-of-type {
            fill: $color-type-2a;
          }
          stroke: $color-type-2a;
        }
      }
    }
  }

  &-menu {
    margin-top: 80px;
    @media screen and (min-width: $screen-md-min) {
      margin-top: 160px;
    }
    h3 {
      font-size: 20px;
      margin-top: 0;
      margin-bottom: 40px;
      @media screen and (min-width: $screen-md-min) {
        margin-bottom: 80px;
        font-size: 40px;
      }
    }
    h5 {
      margin-top: 0;
      font-size: 11px;
      margin-bottom: 20px;
      font-family: $base-font-family-serif;
      @media screen and (min-width: $screen-md-min) {
        font-size: 13px;
        margin-bottom: 25px;
      }
    }
    ul {
      font-size: 14px;
      margin-bottom: 40px;
      @media screen and (min-width: $screen-md-min) {
        margin-bottom: 60px;
        font-size: 16px;
      }
      > li {
        text-transform: initial;
        margin-bottom: 5px;
        &:before {
          border-color: transparent transparent transparent black;
        }
      }
    }
  }

  &-tooltip {
    margin-top: 80px;
    font-size: 12px;
    padding: 20px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 80px;
    @media screen and (min-width: $screen-md-min) {
      margin-top: 160px;
      margin-bottom: 0;
      font-size: 16px;
      padding: 40px 0;
      border-bottom: none;
    }
  }
}

video {
  width: 100%;
}

.ticket {
  color: white;
  position: relative;
  background:
    url("../images/event/line-1.svg") no-repeat left center / auto 100%,
    url("../images/event/line-2.svg") no-repeat right center / auto 102%;
  margin-bottom: 80px;
  padding: 0 10px;
  @media screen and (min-width: $screen-xl-min) {
    margin-bottom: 160px;
    padding: 0 40px;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 12px;
    right: 9px;
    background: black;
    @media screen and (min-width: $screen-md-min) {
      right: 10px;
    }
  }
  &-top {
    z-index: 9;
    position: relative;
    text-align: center;
    padding-top: 5px;
    h2 {
      margin: 0;
      font-size: 6vw;
      line-height: 1.1;
      display: inline-block;
      font-family: $base-font-family-serif;
      padding-bottom: 10px;
      border-bottom: 1px solid white;
      @media screen and (min-width: $screen-xl-min) {
        font-size: 63px;
      }
    }
  }
  &-body {
    z-index: 9;
    padding: 40px 0;
    position: relative;
    @media screen and (min-width: $screen-md-min) {
      padding: 80px 0;
    }
    .name {
      font-size: 16px;
      padding: 0 50px 40px;
      text-transform: uppercase;
      @media screen and (min-width: $screen-md-min) {
        font-size: 20px;
        padding: 0 100px 40px;
      }
      @media screen and (min-width: $screen-lg-min) {
        padding: 0 140px 40px;
      }
    }
  }
  &-buy {
    padding: 0 50px;
    @media screen and (min-width: $screen-md-min) {
      padding: 0 100px;
    }
    @media screen and (min-width: $screen-lg-min) {
      padding: 0 230px;
    }
    a {
      color: white;
      &:after {
        border-color: white;
      }

      path.arr {
        fill: white;
      }
    }
    &-price {
      font-size: 38px;
      &--sm {
        font-size: 20px;
      }
    }
    &-title {
      color: #9C9C9C;
      font-size: 13px;
      text-transform: uppercase;
      margin-bottom: 10px;
      font-family: $base-font-family-serif;
    }
    .incDec {
      display: flex;
      align-items: center;
      font-size: 38px;
      line-height: 1.1;
      margin-bottom: 20px;

      .cart-id {
        cursor: pointer;
      }

      .cart-count {
        margin: 0 10px;
        text-align: center;
        min-width: 50px;
      }
    }
  }
}

.template {
  &-date {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  &-question {
    margin-bottom: 40px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 60px;
    }
    &-phone,
    &-title {
      font-size: 20px;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    &-phone {
      text-decoration: none;
      border-bottom: 1px solid black;
      &:hover {
        color: $color-type-2a;
      }
    }
    &-info {
      font-size: 14px;
      margin-top: 20px;
    }
  }
  &-social {
    margin-bottom: 40px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 60px;
    }
    &-title {
      font-size: 20px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
    &-list {
      a {
        text-decoration: none;
        border-bottom: 1px solid transparent;
        @include transitionEase();
        &:hover {
          color: $color-type-2a;
          border-color: $color-type-2a;
        }
      }
    }
  }
}

.page-template {
  padding-top: 40px;
  @media screen and (min-width: $screen-md-min) {
    padding-top: 100px;
  }
  @media screen and (min-width: $screen-xl-min) {
    padding-top: 160px;
  }
}
