.page-partners {
  padding-top: 40px;
  padding-bottom: 40px;
  @media screen and (min-width: $screen-md-min) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @media screen and (min-width: $screen-xl-min) {
    padding-top: 160px;
    padding-bottom: 160px;
  }
  h1 {
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: 50px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 80px;
    }
    @media screen and (min-width: $screen-lg-min) {
      margin-left: 0;
    }
  }
}

.partners {
  @media screen and (min-width: $screen-md-min) {
    padding: 0 10px;
  }
  .logoList {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 40px;
    width: 50%;
    @media screen and (min-width: $screen-md-min) {
      width: 33.333%;
      margin-bottom: 80px;
    }
    @media screen and (min-width: $screen-lg-min) {
      //max-width: 250px;
      width: 20%;
    }
    @media screen and (min-width: 1450px) {
      //max-width: inherit;
      width: calc(100% / 6);
    }
    &--list {
      margin: 0 -10px;
    }
  }
}
