.page-project {
  padding-top: 40px;
  @media screen and (min-width: $screen-md-min) {
    padding-top: 80px;
  }
  @media screen and (min-width: $screen-lg-min) {
    padding-top: 160px;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: 50px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 80px;
    }
    @media screen and (min-width: $screen-lg-min) {
      margin-left: 0;
    }
  }
  h2 {
    font-family: $base-font-family;
    margin-top: 0;
    @media screen and (max-width: $screen-sm-max) {
      font-size: 24px;
    }
  }

  .swiper-pagination {
    order: -1;
    @media screen and (min-width: $screen-md-min) {
      order: 1;
    }
  }

}

.projectList {
  padding-bottom: 1px;
  > li {
    margin-bottom: 15px;
    list-style-type: none;
    > svg {
      margin-right: 10px;
      path {
        @include transitionEase(fill);
      }
    }
    > a {
      text-decoration: none;
      font-size: 16px;
      line-height: 120%;
      text-transform: uppercase;
      @media screen and (min-width: $screen-lg-min) {
        font-size: 20px;
      }
    }
    &:hover,
    &.active {
      > svg path {
        fill: $color-type-2a;
      }
      > a {
        color: $color-type-2a;
      }
    }
  }
}

.project {
  &-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 40px;
    @media screen and (min-width: $screen-md-min) {
      margin: 60px 0;
    }
    @media screen and (min-width: $screen-lg-min) {
      margin: 80px 0;
    }
    @media screen and (min-width: $screen-xl-min) {
      padding-right: 160px;
    }
    &__item {
      flex-grow: 2;
      padding-right: 10px;
      width: 50%;
      &:first-child {
        width: 110px;
        @media screen and (min-width: $screen-md-min) {
          width: auto;
        }
      }
      @media screen and (min-width: $screen-md-min) {
        width: auto;
      }
      @media screen and (min-width: $screen-lg-min) {
        padding-right: 0;
      }
      img {
        max-width: 120px;
        @media screen and (min-width: $screen-lg-min) {
          max-width: 160px;
        }
      }
      @media screen and (min-width: $screen-md-min) {
        &:nth-child(2) {
          flex-grow: 4;
        }
      }
      &:last-child {
        width: 100%;
        margin-top: 10px;
        @media screen and (min-width: $screen-md-min) {
          width: auto;
          margin-top: 0;
        }
      }
      > * {
        margin-bottom: 8px;
      }
      a {
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid black;
        &:hover {
          color: $color-type-2a;
        }
      }
    }
  }
  &-desc {
    h3 {
      text-transform: initial;
      font-family: $base-font-family;
      font-size: 18px;
      margin-top: 40px;
      margin-bottom: 40px;
      @media screen and (min-width: $screen-md-min) {
        margin-top: 60px;
        font-size: 24px;
      }
      @media screen and (min-width: $screen-lg-min) {
        margin-top: 80px;
      }
    }
    h4 {
      text-transform: initial;
      font-family: $base-font-family;
      margin-top: 40px;
      margin-bottom: 20px;
    }
    p {
      font-size: 16px;
      margin-bottom: 20px;
    }
    .list--bullet--bl > li {
      font-size: 16px;
      margin-bottom: 20px;
    }
    .shape {
      border-radius: 0px 20px;
      overflow: hidden;
      @media screen and (min-width: $screen-md-min) {
        border-radius: 0px 60px;
      }
    }
    .sw-content {
      margin-top: 40px;
      @media screen and (min-width: $screen-md-min) {
        margin-top: 60px;
      }
      @media screen and (min-width: $screen-lg-min) {
        margin-top: 80px;
      }
    }
    .swiper {
      &-container {
        transition:opacity .6s ease, transform .3s ease;
      }
      &-wrapper {
        height: 200px;
        @media screen and (min-width: $screen-md-min) {
          height: 300px;
        }
        @media screen and (min-width: $screen-lg-min) {
          height: 400px;
        }
        @media screen and (min-width: $screen-xl-min) {
          height: 33vw;
        }
        .swiper-slide {
          overflow: hidden;
          backface-visibility:hidden;
          -webkit-backface-visibility:hidden;
        }
        .slide-bgimg{
          position:absolute;
          top:0;
          left:0;
          width:100%;
          height:100%;
          background-position:center;
          background-size:cover;
          img {
            display: none;
          }
        }
      }
      &-section {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (min-width: $screen-lg-min) {
          padding-right: 160px;
        }
      }
      &-buttons {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        height: 37px;
        @media screen and (min-width: $screen-lg-min) {
          height: 77px;
        }
        svg {
          height: 37px;
          @media screen and (min-width: $screen-lg-min) {
            height: 77px;
          }
        }
        .swiper-button-prev {
          margin-right: 20px;
        }
        > * {
          position: static;
        }
      }
      &-pagination {
        position: static;
      }
    }
  }
}
