.restaurant {
  text-decoration: none;
  display: block;
  &-img {
    position: relative;
    overflow: hidden;
    > img {
      transition: transform 1s;
    }
    &:hover {
      > img {
        transform: scale(1.1);
      }
    }
    .badge {
      position: absolute;
      top: 0;
      right: 0;
      height: 22px;
      width: 92px;
      z-index: 99;
      font-weight: 600;
      font-size: 14px;
      line-height: 140%;
      text-transform: uppercase;
      color: black !important;
      > * {
        display: block;
        margin-bottom: 10px;
        background-color: white;
        img {
          margin-top: -7px;
        }
      }
    }
    .logo {
      position: absolute;
      bottom: 6px;
      left: 6px;
      max-width: 100px;
      @media screen and (min-width: $screen-md-min) {
        bottom: 10px;
        left: 10px;
        max-width: 154px;
      }
    }
  }
  &-desc {
    h3 {
      margin-top: 20px;
      margin-bottom: 20px;
      @include transitionEase(color);
    }
    .inner {
      display: flex;
      > * {
        width: 40%;
        &:last-child {
          width: 60%;
        }
        @media screen and (min-width: $screen-xl-min) {
          width: 50% !important;
        }
      }
    }
    .list {
      display: flex;
    }
    .title {
      margin-right: 30px;
      font-family: $base-font-family-serif;
      font-size: 13px;
      line-height: 140%;
      text-transform: uppercase;
      color: black;
    }
    .text {
      font-size: 14px;
      line-height: 140%;
      text-transform: uppercase;
      color: black;
    }
  }
}

.page-restaurant {
  padding-top: 40px;
  @media screen and (min-width: $screen-md-min) {
    padding-top: 80px;
  }
  @media screen and (min-width: $screen-lg-min) {
    padding-top: 160px;
  }
  .col__xl-9 {
    padding: 0 10px;
    max-width: 1145px;
    position: relative;
    z-index: 1;
    @media screen and (min-width: $screen-md-min) {
      padding: 0 20px;
    }
    @media screen and (min-width: $screen-xl-min) {
      padding: 0;
    }
  }
  .tab-content.list {
    padding: 0 10px 80px;
    @media screen and (min-width: $screen-md-min) {
      padding: 0 20px 80px;
    }
  }
  h1 {
    display: flex;
    align-items: flex-end;
    margin-top: 0;
    margin-left: 40px;
    @media screen and (min-width: $screen-md-min) {
      margin-left: 0;
      font-size: 42px;
    }
    @media screen and (min-width: $screen-lg-min) {
      margin-left: 0;
      font-size: 50px;
    }
    @media screen and (min-width: $screen-xl-min) {
      font-size: 60px;
    }
    .select2 {
      display: inline-block;
      font-weight: 400;
      width: auto !important;
      padding: 1px 10px 0 5px;
      margin-left: 0;
      @media screen and (min-width: $screen-md-min) {
        margin-left: 12px;
        padding: 5px 10px 0 10px;
      }
      @media screen and (min-width: $screen-xl-min) {
        padding: 10px 10px 0 10px;
      }
      .select2-selection__arrow {
        top: 0;
        @media screen and (min-width: $screen-md-min) {
          top: 5px;
        }
      }
      &-container--open .select2-dropdown--below {
        @media screen and (max-width: $screen-sm-max) {
          min-width: 150px;
        }
      }
      //@media screen and (min-width: $screen-md-min) {
      //  width: auto !important;
      //}
      //@media screen and (min-width: $screen-lg-min) {
      //  width: auto !important;
      //}
      .select2-selection--single {
        font-size: 18px;
        padding-bottom: 3px;
        padding-right: 20px;
        @media screen and (min-width: $screen-md-min) {
          font-size: 42px;
          padding-bottom: 7px;
          padding-right: 35px;
        }
        @media screen and (min-width: $screen-lg-min) {
          font-size: 50px;
          padding-bottom: 5px;
        }
        @media screen and (min-width: $screen-xl-min) {
          font-size: 60px;
        }

        &:hover {
          .select2-selection__arrow {
            background: url('../images/icons/selectr-arr.svg') no-repeat center right / 100% auto;
            @media screen and (min-width: $screen-lg-min) {
              background: url('../images/icons/selectr-arr.svg') center right no-repeat;
            }
          }
        }
      }
      .select2-selection__rendered {
        font-family: $base-font-family;
        line-height: 1;
      }
      .select2-selection__arrow {
        height: 90%;
        width: 13px;
        background: url('../images/icons/select-arr.svg') no-repeat center right / 100% auto;
        @media screen and (min-width: $screen-md-min) {
          width: 30px;
        }
        @media screen and (min-width: $screen-lg-min) {
          width: 43px;
          background: url('../images/icons/select-arr.svg') center right no-repeat;
        }
      }
    }
  }

  .restaurant {
    margin-bottom: 40px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 70px;
    }
  }

  .tab-container {
    &.filter {
      overflow: visible;
    }
  }

  .tabs {
    display: inline-flex;
    border: 1px solid #E5E5E5;
    border-radius: 60px;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      height: 100%;
      width: 80px;
      border-radius: 60px;
      background-color: black;
      @include transitionEase(left);
      @media screen and (min-width: $screen-md-min) {
        width: 112px;
      }
      @media screen and (min-width: $screen-xl-min) {
        width: 130px;
      }
    }
    &.active {
      &:after {
        left: 73px;
        @media screen and (min-width: $screen-md-min) {
          left: 104px;
        }
        @media screen and (min-width: $screen-xl-min) {
          left: 119px;
        }
      }
    }
    .tab {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      position: relative;
      z-index: 1;
      @include transitionEase(color);
      cursor: pointer;
      padding: 10px;
      height: 40px;
      font-size: 12px;
      @media screen and (min-width: $screen-md-min) {
        font-size: 14px;
        height: 60px;
        padding: 15px 20px;
      }
      @media screen and (min-width: $screen-lg-min) {
        font-size: 18px;
      }
      &.active {
        color: white;
      }
    }
  }
}

.map-list {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: $screen-md-min) {
    height: 700px;
  }
}

#pvz_map {
  width: 100%;
  height: 375px;
  @media screen and (min-width: $screen-md-min) {
    height: 100%;
    width: calc(100% - 370px);
  }
}

.mapList {
  width: 100%;
  border: 1px solid black;
  border-right: none;
  @media screen and (min-width: $screen-md-min) {
    width: 370px;
    height: 700px;
  }

  &-item {
    @include transitionEase();
    cursor: pointer;
    background-color: white;
    padding: 20px 10px 20px 10px;
    border-bottom: 1px solid #E5E5E5;
    @media screen and (min-width: $screen-md-min) {
      padding: 20px 10px 20px 40px;
    }
    .link {
      display: none;
      margin-top: 25px;
      font-size: 16px;
      @include transitionEase(color);
      &:hover {
        color: $color-type-2a;
      }
    }
    .img {
      display: none;
      margin-left: -20px;
      margin-bottom: 15px;
    }

    h4 {
      margin-top: 0;
      margin-bottom: 10px;
    }

    &.active {
      background-color: black;
      color: white;
      .text,
      .link,
      .title {
        color: white;
      }

      .img,
      .link {
        display: block;
      }
    }
  }
}
