.page-vacancy {
  padding: 40px 10px;
  @media screen and (min-width: $screen-md-min) {
    padding: 80px 20px;
  }
  @media screen and (min-width: $screen-lg-min) {
    padding: 160px 0;
  }
  h1 {
    margin-top: 0;
    margin-left: 30px;
    margin-bottom: 40px;
    @media screen and (min-width: $screen-lg-min) {
      margin-left: 0;
      margin-bottom: 80px;
    }
  }
}

.vacancy {
  &-empty {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
    @media screen and (min-width: $screen-md-min) {
      margin-top: 100px;
    }
    &__item {
      width: 100%;
      @media screen and (min-width: $screen-md-min) {
        width: 40%;
        &:last-child {
          width: 50%;
        }
      }
      h2 {
        margin: 0 0 20px;
        line-height: 1.1;
        font-size: 20px;
        font-family: $base-font-family-serif;
        @media screen and (min-width: $screen-md-min) {
          font-size: 40px;
        }
      }
      a {
        text-decoration: none;
        border-bottom: 1px solid black;
      }
    }
  }
  &-body {
    border-bottom: 1px solid #E5E5E5;
    &__item {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 40px;
      @media screen and (min-width: $screen-md-min) {
        margin-bottom: 60px;
      }
      &:last-child {
        margin-bottom: 20px;
        @media screen and (min-width: $screen-md-min) {
          margin-bottom: 40px;
        }
      }
      &-name {
        width: 100%;
        line-height: 1;
        font-size: 13px;
        margin-bottom: 20px;
        font-family: $base-font-family-serif;
        @media screen and (min-width: $screen-md-min) {
          width: 290px;
          font-size: 16px;
        }
      }
      &-desc {
        width: 100%;
        @media screen and (min-width: $screen-md-min) {
          width: calc(100% - 290px);
        }
        .list--bullet--bl {
          > li {
            font-size: 14px;
            align-items: flex-start;
            @media screen and (min-width: $screen-md-min) {
              font-size: 16px;
            }
            &::before {
              margin-top: 9px;
            }
          }
        }
        h5 {
          line-height: 1;
          font-size: 16px;
          font-family: $base-font-family-serif;
          margin-bottom: 20px;
          margin-top: 0;
        }
      }
    }
  }
  &-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
    @media screen and (min-width: $screen-md-min) {
      padding-top: 40px;
    }
    .vacancy-body__item {
      margin-bottom: 0;
    }
    .info {
      .text__lg {
        line-height: 2;
      }
      a {
        margin-top: 5px;
        font-size: 16px;
        line-height: 1;
        display: inline-block;
        //border-bottom: 1px solid $black;
      }
    }
  }

  &-title {
    display: none;
    padding-bottom: 20px;
    font-size: 13px;
    line-height: 120%;
    text-transform: uppercase;
    font-family: $base-font-family-serif;

    @media screen and (min-width: $screen-md-min) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-name {
      width: 50%;
    }
    &-type {
      width: 25%;
    }
    &-city {
      width: 25%;
    }
  }
}
