//
// Partials -> Footer
// ------------------------------------

$baseColor: #0A0A0A;

//
// Footer
//
.page-footer {
  color: white;
  overflow: hidden;
  background: $baseColor;
  position: relative;
  z-index: 195;
  padding-bottom: 100px;

  @media screen and (min-width: $screen-md-min) {
    padding-bottom: 0;
  }
  .form-answer {
    color: white;
    background: $baseColor;
  }
  &-top {
    padding: 20px 0;
    border-bottom: 1px solid rgba(white, .2);
    @media screen and (min-width: $screen-md-min) {
      padding: 80px 0;
    }
    .alpha {
      font-size: 28px;
      line-height: 1.1;
      margin-top: 0;
      margin-bottom: 5px;
      @media screen and (min-width: $screen-md-min) {
        margin-bottom: 20px;
        font-size: 60px;
      }
      @media screen and (min-width: $screen-xl-min) {
        font-size: 68px;
      }
    }
    p {
      color: #5A5A5A;
      margin-bottom: 0;
      font-size: 12px;
      @media screen and (min-width: $screen-md-min) {
        font-size: 20px;
      }
    }
    form {
      @media screen and (min-width: $screen-lg-min) {
        max-width: 440px;
        margin-left: auto;
      }
      .form__group {
        position: relative;
        margin-top: 20px;
        @media screen and (min-width: $screen-md-min) {
          margin-top: 0;
        }
      }
      input {
        color: white;
        background-color: $baseColor !important;
        border-color: white !important;
        @include placeholder(white);
      }
      button {
        position: absolute;
        z-index: 2;
        cursor: pointer;
        right: 0;
        top: 0;
        background: transparent;
        border: none;
        outline: none;
      }
      .control:hover {
        background-color: $baseColor;
        border-color: white;
      }
    }
    .checkbox {
      label {
        color: #5A5A5A;
        font-weight: 400;
        min-height: 25px;
        font-size: 12px;
        @media screen and (min-width: $screen-md-min) {
          font-size: 14px;
        }
        a {
          color: white;
          font-weight: 500;
          &:hover {
            color: $color-type-2a;
          }
        }
        &:before,
        &:after {
          border-color: $input-bg;
          background-color: $baseColor;
        }
      }
      input[type="checkbox"] + label:before {
        background: url('../images/icons/chk.svg') center center no-repeat, $baseColor;
      }
    }
  }
  &-bottom {
    padding-top: 40px;
    @media screen and (min-width: $screen-md-min) {
      padding-top: 120px;
    }
  }
  .copy {
    font-size: 14px;
    line-height: 160%;
    color: #5A5A5A;
    text-decoration: none;
    display: block;
    + .copy {
      margin-top: 10px;
    }
  }
  &-app {
    @media screen and (min-width: $screen-md-min) {
      margin-top: 20px;
    }
  }
  a.copy {
    &:hover {
      color: $color-type-2a;
    }
  }
  .cloudmill {
    font-size: 16px;
    line-height: 160%;
    color: #5A5A5A;
    a {
      color: white;
      text-decoration: none;
      &:hover {
        color: $color-type-2a;
      }
    }
  }
  &-copy {
    margin-top: 40px;
    border-top: 1px solid rgba(white, .2);
    padding: 20px 0;
    @media screen and (min-width: $screen-md-min) {
      padding: 30px 0;
      margin-top: 60px;
    }
  }
}

.footer-menu {
  margin-bottom: 40px;
  @media screen and (min-width: $screen-md-min) {
    margin-bottom: 0;
  }
  li {
    margin-bottom: 10px;
    font-size: 14px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 20px;
      font-size: 16px;
    }
  }
  a {
    text-decoration: none;
    color: white;
    @include transitionEase(color);
    &:hover {
      color: $color-type-2a;
    }
  }
}
