//
// Partials -> Header
// ------------------------------------


//
// Header
//
.page-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  position: fixed;
  background: white;
  left: 0;
  right: 0;
  top: 0;
  z-index: 121;
  @media screen and (min-width: $screen-md-min) {
    padding: 20px;
  }
  &__logo {
    text-align: center;
    a {text-decoration: none;}
  }
  &__info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__close {
    svg {
      circle,
      rect {
        @include transitionEase(fill);
      }
    }
    &:hover {
      svg {
        circle {
          fill: black;
        }
        rect {
          fill: white;
        }
      }
    }
  }
  &__lang {
    font-size: 18px;
    margin: 0 20px 0 0;
    padding: 0;
    li {
      display: inline-block;
      margin: 0 10px;
      padding: 0 0 10px;
      border-bottom: 1px solid transparent;
      @include transitionEase(border-color);
      &:hover,
      &.active {
        border-color: $black;
      }
    }
    a {
      text-decoration: none;
      &:hover {
        color: $color-type-2a;
      }
    }
  }
  &__menu {
    display: flex;
    @media screen and (max-width: $screen-sm-max) {
      .btn-icon {
        padding: 10px;
        height: 40px;
        min-width: auto;
        .burger {
          width: 25px;
          &:nth-child(2) {
            margin-top: 5px;
            margin-bottom: 5px;
          }
        }
      }
    }
    .ui-button-circle-icon__label-wr:after,
    .ui-button-circle-icon__label {
      padding-left: 10px;
      padding-right: 0;
      @media screen and (min-width: $screen-md-min) {
        padding-left: 20px;
      }
    }
    .btn-icon .burger + span {
      margin-left: 0;
    }
    .btn-border .ui-button-circle-icon__label-wr:after,
    .btn-border .ui-button-circle-icon__label {
      padding-left: 15px;
    }
    .btn {
      min-width: inherit;
    }
    .burger {
      width: 40px;
      span {
        height: 1px;
        width: 100%;
        display: block;
        background-color: black;
        &:nth-child(2) {
          @include transitionEase();
          margin-top: 5px;
          margin-bottom: 5px;
          @media screen and (min-width: $screen-md-min) {
            margin-top: 8px;
            margin-bottom: 8px;
          }
        }
      }
      :hover > & {
        &:nth-child(2) {
          margin-top: 12px;
          margin-bottom: 12px;
        }
      }
      + span {
        @media screen and (max-width: $screen-sm-max) {
          font-size: 12px;
        }
      }
    }
  }
  &__cart,
  &__search {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 70px;
    border: 1px solid $gray-lighten;
    text-decoration: none;
    @include transitionEase();
    @media screen and (min-width: $screen-md-min) {
      width: 60px;
      height: 60px;
      margin-left: 15px;
    }
    @media screen and (min-width: $screen-lg-min) {
      margin-left: 20px;
    }
    @media screen and (max-width: $screen-sm-max) {
      img {
        width: 19px;
      }
      svg {
        width: 25px;
      }
    }
  }
  &__search {
    svg circle,
    svg line {
      @include transitionEase(stroke);
    }
    &:hover {
      border-color: black;
      background-color: black;
      svg circle,
      svg line {
        stroke: white;
      }
    }
  }
  &__cart {
    position: relative;
    background-color: white;
    @include transitionEase(background-color);
    .count {
      height: 12px;
      width: 12px;
      font-weight: 600;
      font-size: 8px;
      color: white;
      background: $color-type-2a;
      border-radius: 6px 0px;
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
      @include transitionEase(background-color);
      @media screen and (min-width: $screen-md-min) {
        height: 18px;
        width: 18px;
        font-size: 12px;
      }
      span {
        //left: 0;
        //right: 0;
        //margin: auto;
        position: absolute;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
      }
      span:last-of-type {
        visibility: hidden;
      }
      &.update-count span:last-of-type {
        animation: cd-qty-enter .15s;
        animation-direction: forwards;
      }
      &.update-count span:first-of-type {
        animation: cd-qty-leave .15s;
        animation-direction: forwards;
      }
    }
    svg path {
      @include transitionEase(fill);
    }
    &:hover,
    &.active {
      color: white;
      background-color: $color-type-2a;
      .count {
        background-color: black;
      }
      svg path {
        fill: white;
      }
    }
  }

  .btn-border {
    padding-left: 60px;
    margin-left: 20px;
    display: none;
    @media screen and (min-width: $screen-lg-min) {
      display: inline-flex;
    }
    .add {
      width: 60px;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 70px;
      background: linear-gradient(90deg, #EE3A16 0%, rgba(238, 22, 35, 0.12) 40.02%);
      &:before {
        content: '';
        background: #EE3A16;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        z-index: 1;
        border-radius: 70px;
        @include transitionEase(opacity);
      }
      &:after {
        content: '';
        background: white;
        left: 1px;
        top: 1px;
        bottom: 1px;
        right: 1px;
        position: absolute;
        border-radius: 70px;
        z-index: 1;
      }
      img {
        height: 38px;
        position: relative;
        z-index: 2;
      }
    }
  }
}

.navbar {
  position: fixed;
  height: 0;
  bottom: -300px;
  left: 0;
  z-index: 201;
  overflow: hidden;
  width: 85%;
  padding: 110px 40px 30px 40px;
  //background: url("../images/N.svg") no-repeat right bottom / 85% auto;
  //@include transitionEase(left);
  @media screen and (min-width: $screen-md-min) {
    width: auto;
    padding: 160px 150px 30px 90px;
    //background: url("../images/N.svg") no-repeat right bottom;
  }
  .btn-icon {
    min-width: inherit;
    padding-right: 10px;
    img + span {
      margin-left: 0;
    }
  }
  > * {
    position: relative;
    z-index: 9;
  }
  > .btn.ui-button-circle-icon {
    position: absolute;
    top: -200px;
    @include transitionEase(top, .5s, .8s);
  }
  &:after {
    content: '';
    top: 0;
    left: 0;
    width: 0;
    bottom: 0;
    min-height: 700px;
    overflow: hidden;
    position: absolute;
    //background-color: $black;
    @include transitionEase(width);
    background: url("../images/N.svg") no-repeat right bottom / 85% auto, $black;
    @media screen and (min-width: $screen-md-min) {
      background: url("../images/N.svg") no-repeat right bottom, $black;
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    .btn-icon {
      padding: 10px;
      height: 40px;
      min-width: auto;
      img {
        width: 16px;
      }
    }
  }
  &.active {
    height: 100%;
    bottom: 0;
    overflow-y: auto;
    //left: 0;
    &:after {
      width: 100%;
    }

    .ui-button-circle-icon {
      top: 20px;
    }
  }
  &.hideIt {
    height: 100%;
    bottom: 0;
    overflow-y: auto;
    .ui-button-circle-icon {
      top: -200px;
      @include transitionEase(top);
    }
    &:after {
      @include transitionEase(left, .5s, .8s);
      left: -120%;
    }
  }

  .btn--default {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    background: black;

  }
}

.search-block {
  background: $black;
  position: fixed;
  left: 0;
  right: 0;
  top: -300px;
  padding: 20px 0;
  z-index: 123;
  @include transitionEase(top);

  @media screen and (min-width: $screen-md-min) {
    padding: 40px;
  }
  @media screen and (min-width: $screen-lg-min) {
    padding: 70px;
  }
  &-form {
    display: flex;
    align-items: center;
    @media screen and (max-width: $screen-sm-max) {
      svg {
        width: 38px;
      }
    }
    rect,
    path,
    ellipse {
      @include transitionEase(fill);
    }
    button {
      border: none;
      background: transparent;
      cursor: pointer;
      &:hover {
        svg {
          ellipse {
            fill: $color-type-2a;
          }
        }
      }
    }
    input {
      flex-grow: 4;
      background: black;
      font-weight: 300;
      font-size: 15px;
      line-height: 140%;
      border: none;
      text-transform: uppercase;
      color: white;
      @include placeholder(white);
      @media screen and (min-width: $screen-md-min) {
        font-size: 30px;
      }
      @media screen and (min-width: $screen-lg-min) {
        font-size: 35px;
      }
    }
    a {
      &:hover {
        svg {
          rect {
            fill: #000;
          }
          path {
            fill: white;
          }
        }
      }
    }
  }

  &.active {
    top: 0;
  }
}

.sticky {
  z-index: 120;

  @media screen and (min-width: $screen-md-min) {
    .cart-block {
      position: absolute;
      height: 99vh;
      top: -100px;
    }
  }
}

*:not(.form-menu) {
  > .cart-block {
    &:not(.active) {
      @media screen and (max-width: $screen-sm-max) {
        display: none;
      }
    }
  }
}
.cart-block {
  background: white;
  border-left: 1px solid #E5E5E5;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -285px;
  width: 285px;
  z-index: 197;
  @include transitionEase(right);
  display: flex;
  flex-direction: column;
  @media screen and (max-width: $screen-sm-max) {
    width: 100%;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.07);
    height: 120px;
    transition: height .5s;
    overflow-y: auto;
    &:before {
      content: '';
      width: 16px;
      height: 9px;
      position: absolute;
      top: 15px;
      left: 0;
      right: 0;
      margin: auto;
      transition: background .5s;
      background: url("../images/icons/cart-bottom.svg") no-repeat center;
    }
    .cart-block-bottom .btn {
      margin-top: 20px;
    }

    .cart-block-head {
      display: none;
    }

    .cart-block-body .head {
      display: block;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 600;
    }

    .cart-block-body:before {
      display: none;
    }

    .cart-block-body,
    .cart-block-summ {
      max-height: 0;
      overflow: hidden;
      padding: 0;
      transition: all .5s;
    }

    .cart-block-img {
      width: 100%;
    }

    &.show {
      height: 80vh;
      &:before {
        background: url("../images/icons/cart-bottom-h.svg") no-repeat center;
      }
      .cart-block-body,
      .cart-block-summ {
        max-height: 800px;
        overflow: visible;
        padding: 20px;
      }
    }

  }

  &-img {
    font-size: 16px;
    line-height: 140%;
    color: #000;
    max-width: 441px;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 18px 20px;
    background: url("../images/cart.png") no-repeat center / cover;
    transition: all .5s;
    cursor: pointer;
    border: 1px solid #C4C4C4;
    border-radius: 0px 10px;
    &:hover {
      color: #fff;
      background: url("../images/cart-hover.png") no-repeat center / cover;
    }
    &.accepted {
      color: #000;
      background: url("../images/cart-accepted.png") no-repeat center / cover;
    }
  }

  .page-header__cart {
    margin: 0;
  }
  &.active {
    right: 0;
  }
  &-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;

    .page-header__close {
      @media screen and (min-width: $screen-md-min) {
        display: none;
      }
    }
  }
  &-body {
    padding: 20px;
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    .head {
      display: none;
    }
    &:before {
      content: '';
      left: 20px;
      right: 20px;
      top: 0;
      background: black;
      height: 1px;
    }
    &-null {
      margin: auto;
    }

    .mCS_y_hidden {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
  &-promo {
    font-size: 16px;
    .filled {
      border-color: black;
    }
    > div {
      margin-bottom: 10px;
    }
    .tab-content {
      position: relative;
      max-width: 390px;
      margin: auto;
    }
    .tabs {
      display: flex;
      justify-content: space-between;
      font-family: Lighthaus;
      font-weight: normal;
      font-size: 14px;
      line-height: 120%;
      text-transform: uppercase;
      font-feature-settings: 'liga' off;
      margin-bottom: 40px;
      padding: 0 15px 5px;
      @media screen and (min-width: $screen-md-min) {
        margin-bottom: 65px;
        font-size: 24px;
        padding: 0 0 5px;
      }
      .tab {
        border-bottom: 1px solid transparent;
        transition: border-color .5s;
        cursor: pointer;
      }
      .active {
        border-color: #EE1623;
        cursor: default;
      }
    }

    .error {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 35px;
      z-index: 9;
      color: white;
      display: flex;
      align-items: center;
      transition: height .5s, padding .3s .2s;
      background: #EE1623;
      overflow: hidden;
      height: 0;
      border-radius: 10px 0px;
      &.active {
        padding: 15px;
        min-height: 61px;
        height: calc(100% - 35px);
        transition: height .5s;
      }
    }

    .step {
      display: none;

      &.active {
        display: block;
      }

      p {
        font-size: 14px;
        line-height: 160%;
        text-align: center;
        max-width: 320px;
        margin: 0 auto 20px;
      }
    }

    .promo-counter {
      text-align: center;
      margin-top: 40px;
      font-size: 14px;
      line-height: 160%;
      display: none;

      &.active {
        display: block;
      }

      a {
        text-decoration: underline;
      }
    }

    .success-block {
      position: absolute;
      z-index: 99;
      background: url("../images/ok.svg") no-repeat center, #fff;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      line-height: 160%;
      display: none;
      text-align: center;

      @media screen and (min-width: $screen-md-min) {
        font-size: 32px;
      }

      &.active {
        display: flex;
      }
    }

    .promo-card-error {
      display: none;
      font-size: 14px;
      line-height: 160%;
      text-align: center;
      color: #EE1623;
      margin-top: 20px;
      &.active {
        display: block;
      }
    }

    .promo-error {
      margin: 40px auto 0;
      font-weight: normal;
      font-size: 14px;
      line-height: 160%;
      text-align: center;
      color: #EE1623;
      display: none;
      max-width: 300px;

      a {
        text-decoration: underline;
        color: #000;
        &:hover {
          text-decoration: none;
        }
      }

      &.active {
        display: block;
      }
    }

    .btn {
      height: 50px;
    }
  }
  &-summ {
    margin-top: auto;
    font-size: 16px;
    padding: 30px 20px;
    border-top: 1px solid #E5E5E5;
    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      + div {
        margin-top: 10px;
      }
    }
  }
  &-count {
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--null {
      color: #ccc;
    }
  }
  &-bottom {
    margin-top: auto;
    padding: 20px;
    border-top: 1px solid #E5E5E5;
    b {
      font-weight: 600;
    }
    .btn {
      margin-top: 30px;

      &.disabled {
        //background-color: #ccc;
      }
    }
  }

  &-item {
    padding: 20px 0;
    border-bottom: 1px solid #E5E5E5;
    &--long {
      position: relative;
      border-bottom: none;
    }
    &:first-child {
      //border-top: 1px solid black;
    }
    &-size {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      margin-bottom: 10px;
      .incDec {
        font-size: 14px;
        display: flex;
        align-items: center;
        .cart-id {
          cursor: pointer;
          height: 24px;
          path {
            @include transitionEase(fill);
          }
          circle {
            fill: white;
            @include transitionEase();
          }
          &:hover {
            path {
              fill: white;
            }
            circle {
              stroke: $color-type-2a;
              fill: $color-type-2a;
            }
          }
        }
        .cart-count {
          margin: 0 10px;
        }
      }
    }
    &-price {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .cart-pr {
        font-weight: 600;
        font-size: 14px;
      }
      .cart-wr {
        font-size: 12px;
        color: #9C9C9C;
        margin-right: auto;
        margin-left: 10px;
      }
      .cart-rm {
        cursor: pointer;
        height: 24px;
        .circle,
        path {
          @include transitionEase(fill);
        }
        &:hover {
          path {
            fill: white;
          }
          .circle {
            fill: $color-type-2a;
          }
        }
      }
    }
  }

  &.active {
    right: 0;
  }
}

.vacancy-block {
  background: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -650px;
  padding: 20px 10px;
  max-width: 85%;
  z-index: 123;
  @include transitionEase(left);

  @media screen and (min-width: $screen-md-min) {
    padding: 60px;
    max-width: 570px;
  }
  form {
    height: 88%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    @media screen and (min-width: $screen-md-min) {
      padding: 0 15px 0 30px;
    }
  }

  .order-wrapper__item {
    height: 100%;
    margin-bottom: 0;
    .tab-content {
      height: 100%;
    }
    .tabs {
      text-align: center;
      font-size: 18px;
      line-height: 120%;
      text-transform: uppercase;
      font-family: $base-font-family-serif;
      justify-content: center;
    }
  }
  .order-wrapper__item .tab-content .input, .order-wrapper__item .tab-content .control {
    max-width: 100%;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 60px;
      text-align: left;
    }
  }
  &--thin {
    @media screen and (min-width: $screen-md-min) {
      padding: 0;
      .row {
        padding: 60px 40px 0 20px;
      }
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: -45px;
    svg {
      width: 45px;
      height: 45px;
      cursor: pointer;
      @media screen and (min-width: $screen-md-min) {
        width: 80px;
        height: 80px;
      }

      rect {
        @include transitionEase(fill);
      }
      &:hover {
        rect:first-of-type {
          fill: $color-type-2a;
        }
      }
    }
    @media screen and (min-width: $screen-md-min) {
      right: -80px;
    }
  }

  &.active {
    left: 0;
  }
}

.overlay {
  background: rgba(black, .15);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  z-index: 122;
  opacity: 0;
  transition: opacity .5s cubic-bezier(0.65, 0, 0.35, 1), width 0s cubic-bezier(0.65, 0, 0.35, 1) .5s;
  &.active {
    width: 100%;
    opacity: 1;
    transition: opacity .5s cubic-bezier(0.65, 0, 0.35, 1) .5s, width 0s cubic-bezier(0.65, 0, 0.35, 1);
  }
}

.browsehappy {
  @extend .container;
}


.cart-popup {
  background: rgba(black, .15);
  position: fixed;
  left: -50%;
  top: 0;
  bottom: 0;
  width: 0;
  opacity: 0;
  z-index: 123;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .5s cubic-bezier(0.65, 0, 0.35, 1), width 0s cubic-bezier(0.65, 0, 0.35, 1) .4s, left 0s cubic-bezier(0.65, 0, 0.35, 1) .4s;
  &__inner {
    width: 540px;
    background-color: white;
    padding: 90px;
    text-align: center;
    p {
      margin-bottom: 30px;
    }
  }
  &.active {
    width: 100%;
    opacity: 1;
    left: 0;
    transition: opacity .5s cubic-bezier(0.65, 0, 0.35, 1) .4s, width 0s cubic-bezier(0.65, 0, 0.35, 1), left 0s cubic-bezier(0.65, 0, 0.35, 1);
  }
}

@-webkit-keyframes cd-qty-enter {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}

@keyframes cd-qty-enter {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}
@-webkit-keyframes cd-qty-leave {
  0% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-100%);
    transform: translateX(-50%) translateY(-100%);
  }
}
@keyframes cd-qty-leave {
  0% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-100%);
    transform: translateX(-50%) translateY(-100%);
  }
}
