//
// Partials -> Main
// ------------------------------------

//
// Main container
//
.main {
  padding-top: 60px;
  min-height: calc(70vh - 60px);
  @media screen and (min-width: $screen-md-min) {
    //padding-top: 103px;
    height: 100vh;
    padding-top: 0;
  }
  > .mCustomScrollBox > .mCSB_container {
    @media screen and (min-width: $screen-md-min) {
      padding-top: 103px;
    }
  }
  .page-card .mCSB_container {
    @media screen and (min-width: $screen-md-min) {
      padding-top: 0;
    }
  }
}


