extends ../layouts/master.pug

block header
  include ../partials/_header.pug

block pageName
  - pageName = "custom"

block content
  main.page-event
    .m-auto.col__xl-8.col__lg-10(data-aos='fade-up')
      h1.select-wrapper
        +wrapTitle(['события'])
      .filters(data-aos='fade-up')
        .tab-container.filter
          .filter-global
            li.active(data-toggle-target="*") все
            li(data-toggle-target="deg") Дегустации
            li(data-toggle-target="master") Мастер-классы
            li(data-toggle-target="dish") Премьера блюд
            li(data-toggle-target="news") Новости
            li.span
    .row.eventsList
      - for (let y = 1; y < 5; y++)
        .col.col__lg-4.col__md-6.col__xs-12.filter__item--js(data-text='deg', data-aos='fade-up')
          a.events-item(href='#')
            .events-item-img
              .events-item-line
                .marquee
                  .track
                    .content премьера блюд — премьера блюд — премьера блюд — премьера блюд — премьера блюд — премьера блюд —
              .events-item-logo: +img('index/logo-1.jpg')
              +img('index/event-1.jpg')
            .events-item-title Долгожданная премьера эксклюзивных вин проекта Taste Wine Selection of Fine Wines
            .events-item-date 27.03.2021
        .col.col__lg-4.col__md-6.col__xs-12.filter__item--js(data-text='master', data-aos='fade-up')
          a.events-item(href='#')
            .events-item-img
              .events-item-line
                .marquee
                  .track
                    .content дегустацуии — дегустацуии — дегустацуии — дегустацуии — дегустацуии — дегустацуии — дегустацуии —
              .events-item-logo: +img('index/logo-2.jpg')
              +img('index/event-2.jpg')
            .events-item-title Ресторан savva дарит скидку зрителям большого театра
            .events-item-date 27.03.2021
        .col.col__lg-4.col__md-6.col__xs-12.filter__item--js(data-text='dish', data-aos='fade-up')
          a.events-item(href='#')
            .events-item-img
              .events-item-line
                .marquee
                  .track
                    .content новости — новости — новости — новости — новости — новости — новости — новости — новости —
              +img('index/event-3.jpg')
            .events-item-title Согревающие коктейли в ресторанах Novikov Group
            .events-item-date 27.03.2021
        .col.col__lg-4.col__md-6.col__xs-12.filter__item--js(data-text='news', data-aos='fade-up')
          a.events-item(href='#')
            .events-item-img
              .events-item-line
                .marquee
                  .track
                    .content премьера блюд — премьера блюд — премьера блюд — премьера блюд — премьера блюд — премьера блюд —
              .events-item-logo: +img('index/logo-1.jpg')
              +img('index/event-1.jpg')
            .events-item-title Долгожданная премьера эксклюзивных вин проекта Taste Wine Selection of Fine Wines
            .events-item-date 27.03.2021
    .text--center.showMore(data-aos='fade-up')
      a.btn-icon.text--uppercase(href='#')
        span показать еще
        svg(width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M12.2727 2.76087L11.952 2.37729L12.2727 2.76087ZM5.72727 2.76087L5.40655 3.14445L5.72727 2.76087ZM9 10C9.5 10 9.5 10.0002 9.5 10.0003C9.5 10.0003 9.5 10.0005 9.5 10.0005C9.5 10.0006 9.5 10.0006 9.5 10.0006C9.5 10.0005 9.5 10.0002 9.5 9.9996C9.50001 9.99839 9.50003 9.99612 9.50007 9.9928C9.50014 9.98618 9.50031 9.97539 9.50066 9.96063C9.50136 9.93112 9.5028 9.88574 9.50577 9.82603C9.51172 9.70655 9.52376 9.52997 9.54814 9.30837C9.59695 8.86457 9.69487 8.24356 9.89073 7.54085C10.2838 6.13053 11.0615 4.4254 12.5935 3.14445L11.952 2.37729C10.2113 3.83279 9.35254 5.74723 8.92745 7.27236C8.71422 8.03737 8.60759 8.71306 8.55413 9.19903C8.52737 9.44231 8.51385 9.63888 8.50701 9.77633C8.50359 9.84508 8.50184 9.89912 8.50094 9.93689C8.50049 9.95578 8.50026 9.97062 8.50013 9.9812C8.50007 9.98649 8.50004 9.99071 8.50002 9.99386C8.50001 9.99543 8.50001 9.99673 8.5 9.99775C8.5 9.99826 8.5 9.99871 8.5 9.99908C8.5 9.99927 8.5 9.9995 8.5 9.99959C8.5 9.99981 8.5 10 9 10ZM12.5935 3.14445C13.4472 2.43059 14.5477 2.0144 15.4626 1.7782C15.9156 1.66125 16.3129 1.59099 16.5958 1.55011C16.7371 1.5297 16.8493 1.5167 16.925 1.50888C16.9628 1.50498 16.9914 1.50237 17.01 1.50078C17.0193 1.49999 17.026 1.49945 17.0302 1.49914C17.0322 1.49898 17.0336 1.49887 17.0343 1.49882C17.0347 1.4988 17.0349 1.49878 17.0349 1.49878C17.0349 1.49878 17.0349 1.49878 17.0348 1.49879C17.0348 1.49879 17.0347 1.4988 17.0346 1.4988C17.0345 1.49881 17.0344 1.49881 17 1C16.9656 0.501187 16.9654 0.501196 16.9653 0.501206C16.9652 0.501211 16.9651 0.501221 16.9649 0.50123C16.9647 0.501248 16.9644 0.501268 16.9641 0.501292C16.9634 0.50134 16.9625 0.501401 16.9615 0.501476C16.9595 0.501625 16.9567 0.501828 16.9533 0.502091C16.9465 0.502616 16.937 0.503377 16.9249 0.504411C16.9007 0.506478 16.8662 0.509635 16.8222 0.514176C16.7343 0.523253 16.6087 0.537875 16.4528 0.56039C16.1416 0.605359 15.7077 0.682139 15.2126 0.80995C14.2314 1.06328 12.9683 1.52753 11.952 2.37729L12.5935 3.14445ZM9 10C9.5 10 9.5 9.99981 9.5 9.99959C9.5 9.9995 9.5 9.99927 9.5 9.99908C9.5 9.99871 9.5 9.99826 9.5 9.99775C9.49999 9.99673 9.49999 9.99543 9.49998 9.99386C9.49996 9.99071 9.49993 9.98649 9.49987 9.9812C9.49974 9.97062 9.49951 9.95578 9.49906 9.9369C9.49816 9.89912 9.49641 9.84508 9.49299 9.77633C9.48615 9.63888 9.47263 9.44231 9.44587 9.19903C9.39241 8.71306 9.28578 8.03737 9.07255 7.27236C8.64746 5.74723 7.78874 3.83279 6.048 2.37729L5.40655 3.14445C6.93853 4.4254 7.71618 6.13053 8.10927 7.54085C8.30513 8.24356 8.40304 8.86457 8.45186 9.30837C8.47624 9.52997 8.48828 9.70655 8.49423 9.82603C8.4972 9.88574 8.49864 9.93112 8.49934 9.96063C8.49969 9.97539 8.49986 9.98618 8.49993 9.9928C8.49997 9.99612 8.49999 9.99839 8.49999 9.9996C8.5 10.0002 8.5 10.0005 8.5 10.0006C8.5 10.0006 8.5 10.0006 8.5 10.0005C8.5 10.0005 8.5 10.0003 8.5 10.0003C8.5 10.0002 8.5 10 9 10ZM6.048 2.37729C5.03171 1.52753 3.76859 1.06328 2.78735 0.80995C2.29229 0.682138 1.8584 0.605358 1.54716 0.560389C1.39133 0.537874 1.26567 0.523252 1.1778 0.514175C1.13384 0.509635 1.09929 0.506477 1.0751 0.50441C1.06299 0.503377 1.05348 0.502615 1.04666 0.50209C1.04326 0.501828 1.04052 0.501624 1.03848 0.501475C1.03746 0.501401 1.03661 0.50134 1.03594 0.501292C1.0356 0.501268 1.0353 0.501247 1.03505 0.50123C1.03493 0.501221 1.03477 0.50121 1.03471 0.501206C1.03457 0.501196 1.03444 0.501187 1 0.999999C0.965565 1.49881 0.965454 1.4988 0.965353 1.4988C0.965334 1.4988 0.965244 1.49879 0.965208 1.49879C0.965132 1.49878 0.965097 1.49878 0.965107 1.49878C0.965126 1.49878 0.965317 1.4988 0.965675 1.49882C0.966394 1.49887 0.967789 1.49898 0.969843 1.49914C0.973955 1.49945 0.980711 1.49999 0.989992 1.50078C1.00856 1.50237 1.03722 1.50498 1.07505 1.50888C1.15073 1.5167 1.26291 1.5297 1.40416 1.55011C1.68709 1.59099 2.08437 1.66125 2.53738 1.7782C3.45226 2.0144 4.55278 2.43059 5.40655 3.14445L6.048 2.37729Z" fill="black")


block footer
  include ../partials/_footer.pug
