extends ../layouts/masterMain.pug

block header
  include ../partials/_header.pug

block content
  main.page-main
    .main-slider
      .text--center(data-aos='fade-up')
        h1.swiper-title
          a.wrapTitle.wrapTitle-lead(href='#')
            span.word-wrap: span Самый&nbsp;
            span.word-wrap: span грандиозный&nbsp;
            span.word-wrap: span перезапуск&nbsp;
            span.word-wrap: span года:&nbsp;
            span.word-wrap: span легендарный&nbsp;
            span.word-wrap: span ресторан&nbsp;
            span.word-wrap: span Savva&nbsp;
            span.word-wrap: span открыт&nbsp;
      .main-swiper.swiper-container(data-aos='fade-up')
        .swiper-pagination
        .swiper-wrapper
          - for (let x = 2; x < 4; x++)
            .swiper-slide(data-title=['ARTEST —', 'новый', 'fine', 'dining', 'ресторан', 'Аркадия', 'Новикова'])
              span.slide-bgimg--js: +img('slider-1.jpg')
            .swiper-slide(data-title=['Постное', 'меню в', 'ресторанах', 'Novikov', 'Group'])
              span.slide-bgimg--js: +img('slider-2.jpg')
            .swiper-slide(data-title=['Novikov', 'Group', 'Catering —', 'кейтеринг из', '14', 'ресторанов', 'Novikov', 'Group'])
              span.slide-bgimg--js: +img('slider-3.jpg')
        include ../components/_sw-arrows
    .textLiner(data-aos='fade-up')
      .marquee
        .track
          .content
            +img('textliner.svg')
    .main-carousel
      .tab-container
        .tabs(data-aos='fade-up')
          .tab.active(data-toggle-target=".tab-content-1") новые рестораны
          .tab(data-toggle-target=".tab-content-2") итальянская кухня
          .tab(data-toggle-target=".tab-content-3") адыгейская кухня
          .tab(data-toggle-target=".tab-content-4") грузинская кухня
          .tab(data-toggle-target=".tab-content-5") азиатская кухня
        .tab-content.tab-content-1.active(data-aos='fade-up')
          include ../components/_sw-arrows
          .carousel-swiper.swiper-container
            .swiper-wrapper
              - for (let x = 2; x < 4; x++)
                a.swiper-slide.restaurant(href='#')
                  .restaurant-img
                    .badge
                      .marquee
                        .track
                          .content NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW
                      .marquee
                        .track
                          .content SOON — SOON — SOON — SOON — SOON — SOON — SOON — SOON — SOON — SOON — SOON
                    +img('index/slide-1.jpg')
                    .logo: +img('index/logo-1.jpg')
                  .restaurant-desc
                    h3 Nino
                    .inner
                      ul.list--bullet
                        li Доставка
                        li банкет
                      .list
                        .title кухни
                        .text
                            div грузинская
                a.swiper-slide.restaurant(href='#')
                  .restaurant-img
                    .badge
                      .marquee
                        .track
                          .content NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW
                      .marquee
                        .track
                          .content SOON — SOON — SOON — SOON — SOON — SOON — SOON — SOON — SOON — SOON — SOON
                    +img('index/slide-2.jpg')
                    .logo: +img('index/logo-2.jpg')
                  .restaurant-desc
                    h3 СЫРОВАРНЯ АЛЬМЕТЬЕВСК
                    .inner
                      ul.list--bullet
                        li банкет
                      .list
                        .title кухни
                        .text
                          div Адыгейская
                          div Американская
                a.swiper-slide.restaurant(href='#')
                  .restaurant-img
                    .badge
                      .marquee
                        .track
                          .content NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW
                    +img('index/slide-3.jpg')
                  .restaurant-desc
                    h3 aqua
                    .inner
                      ul.list--bullet
                      .list
                        .title кухни
                        .text
                          div азиатская
                          div европейская
                a.swiper-slide.restaurant(href='#')
                  .restaurant-img
                    .badge
                      .marquee
                        .track
                          .content SOON — SOON — SOON — SOON — SOON — SOON — SOON — SOON — SOON — SOON — SOON
                    +img('index/slide-4.jpg')
                  .restaurant-desc
                    h3 КЛЁВО НА УСАЧЕВСКОМ
                    .inner
                      ul.list--bullet
                        li Доставка
                        li банкет
                      .list
                        .title кухни
                        .text
                          div тайская
                          div Американская
        - for (let y = 2; y < 6; y++)
          .tab-content(class='tab-content-'+y)
            include ../components/_sw-arrows
            .carousel-swiper.swiper-container(data-aos='fade-up')
              .swiper-wrapper
                - for (let x = 2; x < 4; x++)
                  a.swiper-slide.restaurant(href='#')
                    .restaurant-img
                      .badge
                        .marquee
                          .track
                            .content NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW
                        .marquee
                          .track
                            .content SOON — SOON — SOON — SOON — SOON — SOON — SOON — SOON — SOON — SOON — SOON
                      +img('index/slide-1.jpg')
                      .logo: +img('index/logo-1.jpg')
                    .restaurant-desc
                      h3 Nino
                      .inner
                        ul.list--bullet
                          li Доставка
                          li банкет
                        .list
                          .title кухни
                          .text
                            div грузинская
                  a.swiper-slide.restaurant(href='#')
                    .restaurant-img
                      .badge
                        .marquee
                          .track
                            .content NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW
                        .marquee
                          .track
                            .content SOON — SOON — SOON — SOON — SOON — SOON — SOON — SOON — SOON — SOON — SOON
                      +img('index/slide-2.jpg')
                      .logo: +img('index/logo-2.jpg')
                    .restaurant-desc
                      h3 СЫРОВАРНЯ АЛЬМЕТЬЕВСК
                      .inner
                        ul.list--bullet
                          li банкет
                        .list
                          .title кухни
                          .text
                            div Адыгейская
                            div Американская
                  a.swiper-slide.restaurant(href='#')
                    .restaurant-img
                      .badge
                        .marquee
                          .track
                            .content NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW — NEW
                      +img('index/slide-3.jpg')
                    .restaurant-desc
                      h3 aqua
                      .inner
                        ul.list--bullet
                        .list
                          .title кухни
                          .text
                            div азиатская
                            div европейская
                  a.swiper-slide.restaurant(href='#')
                    .restaurant-img
                      .badge
                        .marquee
                          .track
                            .content SOON — SOON — SOON — SOON — SOON — SOON — SOON — SOON — SOON — SOON — SOON
                      +img('index/slide-4.jpg')
                    .restaurant-desc
                      h3 КЛЁВО НА УСАЧЕВСКОМ
                      .inner
                        ul.list--bullet
                          li Доставка
                          li банкет
                        .list
                          .title кухни
                          .text
                            div тайская
                            div Американская
    .main-about
      .main-about-badge(data-aos='fade-up')
        .marquee
          .track
            .content since 1991 — since 1991 — since 1991  — since 1991 — since 1991 — since 1991  — since 1991
      .container.relative
        .main-about-title
          .main-about-title__top
            .wrapTitle(data-aos)
              span.word-wrap: span
                | N
                span.span o
                | vik
                span.span o
                | v
          .main-about-title__bottom
            .wrapTitle(data-aos)
              span.word-wrap: span GROUP
        .main-about__back: .rellax(data-rellax-speed="2"): +img('index/N.svg')
        .col__md-6.main-about-content(data-aos='fade-up')
          .main-about-desc
            p История Novikov Group берет свое начало в 1991 году. Именно в этом году Аркадий Новиков открыл свой первый ресторан — Sirena, который стал первым рыбным рестораном столицы с качественно новым подходом к кухне, обслуживанию, интерьеру и атмосфере.
            +btnLink('Подробнее о нас')
          .main-about-back.show-anim(data-aos='fade-up')
            div
              +img('index/author-0.jpg')
            .visible__sm.visible__xs: +img('index/author-1.jpg')
        .main-about-author.show-anim(data-aos='fade-up'): .rellax(data-rellax-speed="1"): +img('index/author-1.jpg')
    .main-events
      .container(data-aos='fade-up')
        h2 События
        .row.between__xs
          .col.col__xl-7.col__md-7.col__xs-12.main-events-content(data-aos='fade-up')
            +btnLink('Все события')
            .events-list.hidden__sm.hidden__xs
              a.events-item.events-item--main(href='#')
                .events-item-img
                  .events-item-logo: +img('index/logo-1.jpg')
                  +img('index/event-1.jpg')
                .events-item-title Долгожданная премьера эксклюзивных вин проекта Taste Wine Selection of Fine Wines
                .events-item-date 27.03.2021
          .col.col__xl-4.col__md-5.col__xs-12.main-events-content(data-aos='fade-up')
            .events-list.carousel-swiper-m
              .swiper-wrapper
                a.events-item.visible__xs.visible__sm.swiper-slide(href='#')
                  .events-item-img
                    .events-item-logo: +img('index/logo-1.jpg')
                    +img('index/event-1.jpg')
                  .events-item-title Долгожданная премьера эксклюзивных вин проекта Taste Wine Selection of Fine Wines
                  .events-item-date 27.03.2021
                a.events-item.swiper-slide(href='#')
                  .events-item-img
                    +img('index/event-2.jpg')
                  .events-item-title Согревающие коктейли в ресторанах Novikov Group
                  .events-item-date 27.03.2021
                a.events-item.swiper-slide(href='#')
                  .events-item-img
                    .events-item-logo: +img('index/logo-3.jpg')
                    +img('index/event-3.jpg')
                  .events-item-title Ресторан savva дарит скидку зрителям большого театра
                  .events-item-date 27.03.2021

block footer
  include ../partials/_footer.pug
