extends ../layouts/master.pug

block header
  include ../partials/_header.pug

block pageName
  - pageName = "custom"

block content
  main.page-order.page-order--finish
    .m-auto.col__xl-8.col__xs-10(data-aos='fade-up')
      h1.select-wrapper
        +wrapTitle(['Заказ', 'успешно', 'оформлен'])
      h3 номер заказа: #[span 1915]
      p На почту #[b ksh@cloudmill.ru] будет отправлен чек
      .form__group(data-aos='fade-up')
        +btnLink('Перейти на Главную')
      .form__group(data-aos='fade-up')
        +btnLink('Перейти в Рестораны')


block footer
