footer.page-footer
  .page-footer-top(data-aos='fade-up')
    .container
      .row.bottom__xs
        .col.col__lg-6.col__xs-12
          .alpha Будьте в курсе
          p.text__mg Гастрономические новости, советы, акции и многое другое
        .col.col__lg-6.col__xs-12
          form(method='POST', action='')
            .form-inner
              .form__group
                .input
                  input.control(type='text', placeholder='E–mail', required)
                  .control-error
                button.form--js(type='submit')
                  +img('icons/link-next-w.svg')
              .checkbox
                input(type="checkbox", id='signIt', required)
                label(for='signIt')
                  | Даю согласание на обработку #[a(href='#') персональных данных]
                  .control-error
            // добавить класс .shown чтобы показать блок
            .form-answer
              h4 Вы подписались успешно
              button.back--js
                +img('icons/link-next-w.svg')
  .page-footer-bottom(data-aos='fade-up')
    .container
      .row
        .col.col__xl-6.col__lg-5.col__md-4.col__xs-12.hidden__xs.hidden__sm
          +img('logo-w.svg')
        .col.col__xl-6.col__lg-7.col__md-8.col__xs-12
          .row.between__xs
            .col
              ul.footer-menu
                li: a(href='/novikov/dist/restaurants.html') Рестораны
                li: a(href='/novikov/dist/about.html') О компании
                li: a(href='/novikov/dist/partners.html') Партнеры
            .col.col__md.col__xs-7
              ul.footer-menu
                li: a(href='/novikov/dist/certificates.html') Подарочные сертификаты
                li: a(href='#') Карта лояльности
                li: a(href='/novikov/dist/discount.html') Дисконтные карты
            .col.hidden__xs.hidden__sm
              ul.footer-menu
                li: a(href='/novikov/dist/events.html') События
                li: a(href='/novikov/dist/projects.html') Проекты
                li: a(href='/novikov/dist/vacancies.html') Вакансии
                li: a(href='/novikov/dist/contacts.html') Контакты
        .col.col__md-12.col__xs-5
          ul.footer-menu
            li: a(href='#') Instagram
            li: a(href='#') Telegram
            li: a(href='#') Facebook
        .col.col__xl-6.col__lg-5.col__md-4.col__xs-7.page-footer-app
          a(href='#'): +img('appStore.svg')
        .col.col__xl-6.col__lg-7.col__md-8.col__xs-12.page-footer-app
          a.copy(href='#') Политика конфиденциальности
          a.copy(href='#') Договор оферты
      .page-footer-copy
        .row
          .col.col__xl-6.col__lg-5.col__xs-12
          .col.col__xl-6.col__lg-7.col__xs-12
            .row.between__xs.middle__xs
              .col
                .copy © Novikov Group 2021. Все права защищены
              .col
                .cloudmill Сделано в #[a(href='#') CloudMill]
