header.page-header(data-aos='fade-down')
  .page-header__menu.col__xl-4.col__lg-6.col__md-4.col__xs-4
    button.header-menu--js.btn.btn-icon.btn--default.ui-button-circle-icon
      .burger
        span
        span
        span
      span.ui-button-circle-icon__label-wr(data-text='Меню')
        span.ui-button-circle-icon__label Меню
    a.btn.btn-border.ui-button-circle-icon(href='#')
      span.add: +img('header.png')
      span.ui-button-circle-icon__label-wr(data-text='Заказать цветы')
        span.ui-button-circle-icon__label Заказать цветы
  .page-header__logo.col__xl-4.col__lg-3.col__md-4.col__xs-4
    a(href="/"): img(src="assets/images/logo.svg", alt="Novikov")
  .page-header__info.col__xl-4.col__lg-5.col__md-5.col__xs-4
    ul.page-header__lang.hidden__sm.hidden__xs
      li.active: a(href='#') Ru
      li: a(href='#') En
    a.page-header__search.header-search--js(href='#')
      svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
        circle(cx="14.0676" cy="9.8995" r="6.5" transform="rotate(45 14.0676 9.8995)" stroke="black")
        line(x1="9.73194" y1="14.4212" x2="5.04271" y2="19.1104" stroke="black")
    a.page-header__cart.page-header__cart--js(href='#')
      svg(width="30" height="23" viewBox="0 0 30 23" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(fill-rule="evenodd" clip-rule="evenodd" d="M15.8692 1.51345C15.7408 2.34816 15.4773 3.43541 14.916 4.27727C13.9059 5.79246 12.0315 6.2998 11.3671 6.44073C11.1453 6.48776 10.9295 6.49992 10.731 6.49992H5.04588C2.79016 6.49992 1.12349 8.60239 1.63822 10.7986L3.51322 18.7986C3.88411 20.381 5.29556 21.4999 6.92088 21.4999H23.0791C24.7044 21.4999 26.1159 20.381 26.4867 18.7986L28.3617 10.7986C28.8765 8.60239 27.2098 6.49992 24.9541 6.49992H19V5.49992H24.9541C27.8543 5.49992 29.9972 8.20309 29.3354 11.0268L27.4604 19.0268C26.9835 21.0613 25.1688 22.4999 23.0791 22.4999H6.92088C4.83118 22.4999 3.01646 21.0613 2.53961 19.0268L0.664606 11.0268C0.00280368 8.2031 2.14567 5.49992 5.04588 5.49992H10.731C10.8907 5.49992 11.0308 5.4898 11.1596 5.46249C11.796 5.32752 13.3102 4.88326 14.084 3.72257C14.5227 3.06444 14.7592 2.15169 14.8808 1.36139C14.9405 0.973584 14.9704 0.629915 14.9853 0.383738C14.9927 0.260879 14.9964 0.16291 14.9982 0.0965809C14.9991 0.0634318 14.9996 0.0382326 14.9998 0.0218298L15 0.00394544L15 0.000160787L15 -0.000244141C15 -0.000165398 15 -7.71449e-05 15.5 -7.71449e-05C16 -7.71449e-05 16 3.01818e-05 16 0.000147019V0.000428783L16 0.00116449L16 0.00332033L15.9999 0.0103351L15.9997 0.0349006C15.9994 0.0558514 15.9989 0.085828 15.9978 0.123968C15.9958 0.200217 15.9916 0.309279 15.9834 0.444233C15.9671 0.713681 15.9345 1.08876 15.8692 1.51345Z" fill="black")
        path(fill-rule="evenodd" clip-rule="evenodd" d="M9.51159 18.1568L7.82523 11.0747L8.79803 10.8431L10.4844 17.9252L9.51159 18.1568Z" fill="black")
        path(fill-rule="evenodd" clip-rule="evenodd" d="M20.7981 18.1568L22.4845 11.0747L21.5117 10.8431L19.8253 17.9252L20.7981 18.1568Z" fill="black")
        path(fill-rule="evenodd" clip-rule="evenodd" d="M14.5 18V11H15.5V18H14.5Z" fill="black")
      .count
        span 0
        span 1

include ../components/_navbar

.search-block
  .container
    form.search-block-form(method='POST', action='')
      input(type='text', placeholder='что вы хотите найти?')
      button(type='submit')
        svg(width="77" height="78" viewBox="0 0 77 78" fill="none" xmlns="http://www.w3.org/2000/svg")
          ellipse(cx="38.5" cy="38.6095" rx="38.5" ry="38.6095" fill="#1D1D1D")
          path(d="M41.8651 34.3018L41.475 34.6145L41.8651 34.3018ZM41.8651 42.9171L41.475 42.6044L41.8651 42.9171ZM26 39.1095H51V38.1095H26V39.1095ZM51 38.6095C51 38.1095 51.0002 38.1095 51.0003 38.1095C51.0003 38.1095 51.0004 38.1095 51.0005 38.1095C51.0006 38.1095 51.0005 38.1095 51.0005 38.1095C51.0003 38.1095 50.9997 38.1095 50.9989 38.1095C50.9971 38.1094 50.994 38.1094 50.9896 38.1094C50.9809 38.1093 50.9668 38.109 50.9477 38.1086C50.9096 38.1076 50.8514 38.1057 50.775 38.1017C50.6223 38.0938 50.3973 38.0778 50.1153 38.0454C49.5506 37.9806 48.7609 37.8507 47.867 37.5909C46.0757 37.0701 43.8965 36.0365 42.2553 33.9891L41.475 34.6145C43.2868 36.8748 45.6751 37.995 47.5879 38.5511C48.5461 38.8297 49.3927 38.9691 50.0013 39.0389C50.3059 39.0738 50.5517 39.0915 50.7232 39.1004C50.809 39.1048 50.8762 39.1071 50.923 39.1083C50.9464 39.1088 50.9646 39.1091 50.9775 39.1093C50.984 39.1094 50.9891 39.1094 50.9929 39.1094C50.9948 39.1095 50.9963 39.1095 50.9975 39.1095C50.9981 39.1095 50.9986 39.1095 50.999 39.1095C50.9992 39.1095 50.9995 39.1095 50.9996 39.1095C50.9998 39.1095 51 39.1095 51 38.6095ZM42.2553 33.9891C41.3338 32.8396 40.8007 31.3641 40.4996 30.1475C40.3502 29.5439 40.2604 29.0145 40.2081 28.6371C40.182 28.4486 40.1653 28.2985 40.1552 28.1967C40.1502 28.1458 40.1468 28.1071 40.1447 28.0816C40.1437 28.0689 40.143 28.0595 40.1425 28.0536C40.1423 28.0507 40.1422 28.0486 40.1421 28.0474C40.1421 28.0468 40.142 28.0465 40.142 28.0463C40.142 28.0462 40.142 28.0462 40.142 28.0463C40.142 28.0463 40.142 28.0464 40.142 28.0464C40.142 28.0465 40.142 28.0466 39.6431 28.0796C39.1442 28.1126 39.1442 28.1127 39.1442 28.1129C39.1442 28.113 39.1443 28.1131 39.1443 28.1132C39.1443 28.1135 39.1443 28.1138 39.1443 28.1142C39.1444 28.115 39.1445 28.116 39.1445 28.1172C39.1447 28.1197 39.1449 28.123 39.1453 28.1273C39.1459 28.1358 39.1468 28.1478 39.1481 28.1632C39.1506 28.1941 39.1545 28.2385 39.1601 28.2953C39.1714 28.4088 39.1895 28.5718 39.2176 28.7743C39.2736 29.1789 39.3694 29.7435 39.5289 30.3878C39.8455 31.667 40.4233 33.3026 41.475 34.6145L42.2553 33.9891ZM51 38.6095C51 38.1095 50.9998 38.1095 50.9996 38.1095C50.9995 38.1095 50.9992 38.1095 50.999 38.1095C50.9986 38.1095 50.9981 38.1095 50.9975 38.1095C50.9963 38.1095 50.9948 38.1095 50.9929 38.1095C50.9891 38.1095 50.984 38.1096 50.9775 38.1096C50.9646 38.1098 50.9464 38.1101 50.923 38.1107C50.8762 38.1118 50.809 38.1141 50.7232 38.1186C50.5517 38.1275 50.3059 38.1451 50.0013 38.18C49.3927 38.2499 48.5461 38.3892 47.5879 38.6678C45.6751 39.2239 43.2868 40.3442 41.475 42.6044L42.2553 43.2299C43.8965 41.1824 46.0757 40.1489 47.867 39.628C48.7609 39.3682 49.5506 39.2383 50.1153 39.1735C50.3973 39.1412 50.6223 39.1251 50.775 39.1172C50.8514 39.1132 50.9096 39.1113 50.9477 39.1104C50.9668 39.1099 50.9809 39.1097 50.9896 39.1096C50.994 39.1095 50.9971 39.1095 50.9989 39.1095C50.9997 39.1095 51.0003 39.1095 51.0005 39.1095C51.0005 39.1095 51.0006 39.1095 51.0005 39.1095C51.0004 39.1095 51.0003 39.1095 51.0003 39.1095C51.0002 39.1095 51 39.1095 51 38.6095ZM41.475 42.6044C40.4233 43.9163 39.8455 45.552 39.5289 46.8312C39.3694 47.4754 39.2736 48.04 39.2176 48.4447C39.1895 48.6472 39.1714 48.8102 39.1601 48.9237C39.1545 48.9804 39.1506 49.0249 39.1481 49.0557C39.1468 49.0711 39.1459 49.0832 39.1453 49.0916C39.1449 49.0959 39.1447 49.0993 39.1445 49.1017C39.1445 49.1029 39.1444 49.1039 39.1443 49.1047C39.1443 49.1051 39.1443 49.1054 39.1443 49.1057C39.1443 49.1058 39.1442 49.106 39.1442 49.106C39.1442 49.1062 39.1442 49.1063 39.6431 49.1393C40.142 49.1724 40.142 49.1725 40.142 49.1726C40.142 49.1726 40.142 49.1726 40.142 49.1727C40.142 49.1727 40.142 49.1727 40.142 49.1726C40.142 49.1725 40.1421 49.1721 40.1421 49.1715C40.1422 49.1703 40.1423 49.1683 40.1425 49.1653C40.143 49.1594 40.1437 49.15 40.1447 49.1373C40.1468 49.1119 40.1502 49.0731 40.1552 49.0222C40.1653 48.9204 40.182 48.7704 40.2081 48.5819C40.2604 48.2044 40.3502 47.675 40.4996 47.0714C40.8007 45.8548 41.3338 44.3794 42.2553 43.2299L41.475 42.6044Z" fill="white")
      a.search-block--js(href='#')
        svg(width="77" height="78" viewBox="0 0 77 78" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M76.5 38.6095C76.5 59.6581 59.4855 76.719 38.5 76.719C17.5145 76.719 0.5 59.6581 0.5 38.6095C0.5 17.5609 17.5145 0.5 38.5 0.5C59.4855 0.5 76.5 17.5609 76.5 38.6095Z" fill="#000" stroke="#1D1D1D")
          rect(x="27" y="27.9428" width="1.33333" height="33.3333" transform="rotate(-45 27 27.9428)" fill="white")
          rect(x="50.5703" y="27.0001" width="1.33333" height="33.3333" transform="rotate(45 50.5703 27.0001)" fill="white")

