//- Custom Configuration
block config
  - var adaptive = true // choose website type

//- Master layout

include ../mixins/_mixins.pug

doctype html
html(lang='en')
  head
    meta(charset="UTF-8")

    block title
      title Novikov
    <!--[if IE]>
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    <![endif]-->
    if adaptive === true
      meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel="canonical" href="URL")
    meta(name="format-detection", content="telephone=no")
    meta(name="format-detection", content="address=no")

    //- Basic Seo

    block basicSeo
      meta(name='description' content='Index page')
      meta(name='keywords', content='index, page')
      meta(name='author' content='')

    //- Twitter
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='')
    meta(name='twitter:image', content='')
    meta(name='twitter:description', content='')

    //- Facebook
    meta(property='og:url', content='')
    meta(property='og:title', content='')
    meta(property='og:description', content='')
    meta(property='og:image' content="assets/images/opengraph.jpg")
    meta(property='og:type', content='website')

    // iOS
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="apple-mobile-web-app-title", content="Novikov")
    link(rel="apple-touch-icon", href="images/favicons/apple-touch-icon.svg")

    // Android
    meta(name="mobile-web-app-capable", content="yes")
    meta(name="theme-color", content="#f8aa27")
    link(rel="icon" type="image/png" href="images/favicons/android-chrome-192x192.png" sizes="192x192")

    // Windows
    meta(name="msapplication-TileImage", content="images/favicons/mstile-144x144.png")
    meta(name="msapplication-TileColor", content="#f8aa27")

    //- Preload fonts
    link(href='https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap' rel='stylesheet' type='text/css')
    //link(type='font/woff', href=require('font'), rel='preload', as='font', crossorigin)

    link(rel="shortcut icon", href="assets/favicon.ico")

    block pageName
      - var pageName = "main"

  body(class="page-" + pageName)
    <!--[if lt IE 9]>
    p.browsehappy
      | Данный сайт построен на передовых, современных технологиях и не поддерживает Ваш браузер. Настоятельно рекомендуем выбрать и установить любой из &nbsp;
      a(href="http://browsehappy.com/", target="_blank") современных браузеров.
      |  Это бесплатно и займет всего несколько минут.
    <![endif]-->

    .loading

    //- Header
    block header

    .main
      //- block content
      block content


    //- block scripts
    block scripts
      script(src='https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js')
      script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoOHU9S0Ohhctt2VS6Qu3JrmaIjqFQNYk")
      script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=2844f35b-1df5-4037-b64b-f91b25aabb18")
