.cart-block.active
  .cart-block-head(data-aos='fade-right')
    .head ваш заказ
    .page-header__close.page-header__close--js
      svg(width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg")
        circle(cx="30" cy="30" r="29.5" stroke="#E5E5E5" fill="white")
        rect(x="18" y="18.9428" width="1.33333" height="33.3333" transform="rotate(-45 18 18.9428)" fill="black")
        rect(x="41.5703" y="18.0001" width="1.33333" height="33.3333" transform="rotate(45 41.5703 18.0001)" fill="black")
    .page-header__cart.active
      svg(width="30" height="23" viewBox="0 0 30 23" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(fill-rule="evenodd" clip-rule="evenodd" d="M15.8692 1.51345C15.7408 2.34816 15.4773 3.43541 14.916 4.27727C13.9059 5.79246 12.0315 6.2998 11.3671 6.44073C11.1453 6.48776 10.9295 6.49992 10.731 6.49992H5.04588C2.79016 6.49992 1.12349 8.60239 1.63822 10.7986L3.51322 18.7986C3.88411 20.381 5.29556 21.4999 6.92088 21.4999H23.0791C24.7044 21.4999 26.1159 20.381 26.4867 18.7986L28.3617 10.7986C28.8765 8.60239 27.2098 6.49992 24.9541 6.49992H19V5.49992H24.9541C27.8543 5.49992 29.9972 8.20309 29.3354 11.0268L27.4604 19.0268C26.9835 21.0613 25.1688 22.4999 23.0791 22.4999H6.92088C4.83118 22.4999 3.01646 21.0613 2.53961 19.0268L0.664606 11.0268C0.00280368 8.2031 2.14567 5.49992 5.04588 5.49992H10.731C10.8907 5.49992 11.0308 5.4898 11.1596 5.46249C11.796 5.32752 13.3102 4.88326 14.084 3.72257C14.5227 3.06444 14.7592 2.15169 14.8808 1.36139C14.9405 0.973584 14.9704 0.629915 14.9853 0.383738C14.9927 0.260879 14.9964 0.16291 14.9982 0.0965809C14.9991 0.0634318 14.9996 0.0382326 14.9998 0.0218298L15 0.00394544L15 0.000160787L15 -0.000244141C15 -0.000165398 15 -7.71449e-05 15.5 -7.71449e-05C16 -7.71449e-05 16 3.01818e-05 16 0.000147019V0.000428783L16 0.00116449L16 0.00332033L15.9999 0.0103351L15.9997 0.0349006C15.9994 0.0558514 15.9989 0.085828 15.9978 0.123968C15.9958 0.200217 15.9916 0.309279 15.9834 0.444233C15.9671 0.713681 15.9345 1.08876 15.8692 1.51345Z" fill="black")
        path(fill-rule="evenodd" clip-rule="evenodd" d="M9.51159 18.1568L7.82523 11.0747L8.79803 10.8431L10.4844 17.9252L9.51159 18.1568Z" fill="black")
        path(fill-rule="evenodd" clip-rule="evenodd" d="M20.7981 18.1568L22.4845 11.0747L21.5117 10.8431L19.8253 17.9252L20.7981 18.1568Z" fill="black")
        path(fill-rule="evenodd" clip-rule="evenodd" d="M14.5 18V11H15.5V18H14.5Z" fill="black")
      .count
        span 8
        span 9
  .cart-block-body(data-type='cart-items-container')
    .head ваш заказ
    .cart-block-item(data-type='item-block')
      .cart-block-item-size
        div Дисконтная карта
        .incDec
          .cart-id.dec--js
            svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
              circle(cx="12.0001" cy="12" r="11.5" stroke="#E5E5E5")
              path(d="M9.55975 13.031H15.4398V12.149H9.55975V13.031Z" fill="black")
          .cart-count 1
          .cart-id.inc--js
            svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
              circle(cx="12" cy="12" r="11.5" stroke="#E5E5E5")
              path(d="M11.9648 15.159H12.8468V12.401H15.5978V11.519H12.8468V8.76099H11.9648V11.519H9.20679V12.401H11.9648V15.159Z" fill="black")
      .cart-block-item-price
        .cart-pr(data-pr='10000') #[span 10 000] ₽
        .cart-wr 256 г
        .cart-rm.cart-rm--js
          svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
            path.circle(d="M24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12Z" fill="#F3F3F3")
            path(d="M9.74145 14.1991L10.3651 14.8228L12.3153 12.8726L14.2655 14.8228L14.8892 14.1991L12.939 12.2489L14.8793 10.3086L14.2556 9.68494L12.3153 11.6252L10.3651 9.67504L9.74145 10.2987L11.6917 12.2489L9.74145 14.1991Z" fill="black")
    .cart-block-item(data-type='item-block')
      .cart-block-item-size
        div Light
        .incDec
          .cart-id.dec--js
            svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
              circle(cx="12.0001" cy="12" r="11.5" stroke="#E5E5E5")
              path(d="M9.55975 13.031H15.4398V12.149H9.55975V13.031Z" fill="black")
          .cart-count 1
          .cart-id.inc--js
            svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
              circle(cx="12" cy="12" r="11.5" stroke="#E5E5E5")
              path(d="M11.9648 15.159H12.8468V12.401H15.5978V11.519H12.8468V8.76099H11.9648V11.519H9.20679V12.401H11.9648V15.159Z" fill="black")
      .cart-block-item-price
        .cart-pr(data-pr='3000') #[span 3 000] ₽
        .cart-rm.cart-rm--js
          svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
            path.circle(d="M24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12Z" fill="#F3F3F3")
            path(d="M9.74145 14.1991L10.3651 14.8228L12.3153 12.8726L14.2655 14.8228L14.8892 14.1991L12.939 12.2489L14.8793 10.3086L14.2556 9.68494L12.3153 11.6252L10.3651 9.67504L9.74145 10.2987L11.6917 12.2489L9.74145 14.1991Z" fill="black")
  .cart-block-summ
    div
      div Сумма  заказа
      .card-summ: b #[span 10 000] ₽
  .cart-block-bottom
    .cart-block-count
      div Итого
      .card-summ(data-summ='10000'): b #[span 10 000] ₽
    a.btn.btn--full.btn--primary.order--js(href='#') Заказать
    // кнопка при минимальном заказе, удалить style='display: none'
    a.btn.btn--full.btn--primary.form--js.disabled(href='#', disabled, style='display: none') 200 ₽ до минимальной суммы заказа
